<div class="modal fade" id="onboarding-follow-subjects-modal"  role="dialog" aria-labelledby="write-modal-title-here" aria-hidden="true" style="display: none;" data-backdrop="static">
    <div class="modal-dialog modal-dialog__large" role="document">
        <div class="modal-base-wrap">


            <div class="modal-base-layout">


                <div id="modal-pane-2" class="modal-pane">
                    <div class="on-modal-header">
                        <h1 class="on-modal-title">What do you want to learn?</h1>
                        <h2 class="on-modal-subtitle">Follow all the subjects you are interested in. It'll help us find courses you'll love</h2>
                    </div>

                    <div class="on-modal-body">
                        <div class="on-modal-body__tags">
                            <div class="on-modal-body__tagswrap js-custom-scrollbar">
                                <div class="tagboard">

                                    {% for subject in subjects.parent  %}

                                        {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
                                            item : followSubjectItem,
                                            item_id : subject.id,
                                            itemName: subject.name,
                                            followed: user_session.isItemFollowed(followSubjectItem,subject.id),
                                            simpleButton: true,
                                            hideNotification: true
                                        } %}

                                    {% endfor %}

                                    {% for subject in childSubjects  %}

                                        {% include 'ClassCentralSiteBundle:Follow:btn.follow.html.twig' with {
                                            item : followSubjectItem,
                                            item_id : subject.id,
                                            itemName: subject.name,
                                            followed: user_session.isItemFollowed(followSubjectItem,subject.id),
                                            simpleButton: true,
                                            hideNotification: true
                                        } %}

                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="on-modal-footer">
                        <div class="on-modal-footer__bar">
                            <div class="meter">
                                <span class="meter__bar" style="width: 0%"></span>
                            </div>
                        </div>
                        <div class="on-modal-footer__button">
                            <a href="#" class="on-modal-button" id="onboarding-follow-subjects__next">
                                <div class="on-modal-button__icon">
                                    <div class="u-scaling-svg">
                                        <svg class="u-scalingSvg__shape">
                                            <use xlink:href="#shape-arrow-right-thin" />
                                        </svg>
                                    </div>
                                </div>
                                <span>Pick 5 more subjects to unlock recommendations</span>
                            </a>
                        </div>
                        <div class="on-modal-footer__nav">
                            <a href="#" class="on-modal-navbutton on-modal-navbutton-right" id="onboarding-follow-subjects__skip">Skip</a>
                        </div>
                    </div>
                </div><!-- /.modal-pane -->

            </div>

        </div>
    </div>
</div>