{% extends 'ClassCentralSiteBundle::base.html.twig' %}

 {% block headmeta %}               
    <title>MOOCs Frequently Asked Questions | Class Central</title>
    <meta name="description" content="Don't know what a MOOC is? Our FAQ answers the most common questions related to MOOCs"/>

     <meta property="og:title" content="MOOCs Frequently Asked Questions | Class Central"/>
     <meta property="og:type" content="website"/>
     <meta property="og:url" content="https://www.class-central.com/faq"/>
     <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
     <meta property="og:site_name" content="Class Central" />
     <meta property="fb:admins" content="{{ fb_admins }}" />
     <meta property="og:description"
           content="Don't know what a MOOC is? Our FAQ answers the most common questions related to MOOCs" />


 {% endblock %}

{%  block content %}

    {% include 'ClassCentralSiteBundle:Helpers:faq.html.twig' with{ } %}

{% endblock %}  