<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"><style type="text/css">
a:hover {
    color: #2795b6 !important;
}
a:active {
    color: #2795b6 !important;
}
a:visited {
    color: #2ba6cb !important;
}
h1 a:active {
    color: #2ba6cb !important;
}
h2 a:active {
    color: #2ba6cb !important;
}
h3 a:active {
    color: #2ba6cb !important;
}
h4 a:active {
    color: #2ba6cb !important;
}
h5 a:active {
    color: #2ba6cb !important;
}
h6 a:active {
    color: #2ba6cb !important;
}
h1 a:visited {
    color: #2ba6cb !important;
}
h2 a:visited {
    color: #2ba6cb !important;
}
h3 a:visited {
    color: #2ba6cb !important;
}
h4 a:visited {
    color: #2ba6cb !important;
}
h5 a:visited {
    color: #2ba6cb !important;
}
h6 a:visited {
    color: #2ba6cb !important;
}
table.button:hover td {
    background: #2795b6 !important;
}
table.button:visited td {
    background: #2795b6 !important;
}
table.button:active td {
    background: #2795b6 !important;
}
table.button:hover td a {
    color: #fff !important;
}
table.button:visited td a {
    color: #fff !important;
}
table.button:active td a {
    color: #fff !important;
}
table.button:hover td {
    background: #2795b6 !important;
}
table.tiny-button:hover td {
    background: #2795b6 !important;
}
table.small-button:hover td {
    background: #2795b6 !important;
}
table.medium-button:hover td {
    background: #2795b6 !important;
}
table.large-button:hover td {
    background: #2795b6 !important;
}
table.button:hover td a {
    color: #ffffff !important;
}
table.button:active td a {
    color: #ffffff !important;
}
table.button td a:visited {
    color: #ffffff !important;
}
table.tiny-button:hover td a {
    color: #ffffff !important;
}
table.tiny-button:active td a {
    color: #ffffff !important;
}
table.tiny-button td a:visited {
    color: #ffffff !important;
}
table.small-button:hover td a {
    color: #ffffff !important;
}
table.small-button:active td a {
    color: #ffffff !important;
}
table.small-button td a:visited {
    color: #ffffff !important;
}
table.medium-button:hover td a {
    color: #ffffff !important;
}
table.medium-button:active td a {
    color: #ffffff !important;
}
table.medium-button td a:visited {
    color: #ffffff !important;
}
table.large-button:hover td a {
    color: #ffffff !important;
}
table.large-button:active td a {
    color: #ffffff !important;
}
table.large-button td a:visited {
    color: #ffffff !important;
}
table.secondary:hover td {
    background: #d0d0d0 !important; color: #555;
}
table.secondary:hover td a {
    color: #555 !important;
}
table.secondary td a:visited {
    color: #555 !important;
}
table.secondary:active td a {
    color: #555 !important;
}
table.success:hover td {
    background: #457a1a !important;
}
table.alert:hover td {
    background: #970b0e !important;
}
table.facebook:hover td {
    background: #2d4473 !important;
}
table.twitter:hover td {
    background: #0087bb !important;
}
table.google-plus:hover td {
    background: #CC0000 !important;
}
@media only screen and (max-width: 600px) {
    table[class="body"] img {
        width: auto !important; height: auto !important;
    }
    table[class="body"] center {
        min-width: 0 !important;
    }
    table[class="body"] .container {
        width: 95% !important;
    }
    table[class="body"] .row {
        width: 100% !important; display: block !important;
    }
    table[class="body"] .wrapper {
        display: block !important; padding-right: 0 !important;
    }
    table[class="body"] .columns {
        table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
    }
    table[class="body"] .column {
        table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
    }
    table[class="body"] .wrapper.first .columns {
        display: table !important;
    }
    table[class="body"] .wrapper.first .column {
        display: table !important;
    }
    table[class="body"] table.columns td {
        width: 100% !important;
    }
    table[class="body"] table.column td {
        width: 100% !important;
    }
    table[class="body"] .columns td.one {
        width: 8.333333% !important;
    }
    table[class="body"] .column td.one {
        width: 8.333333% !important;
    }
    table[class="body"] .columns td.two {
        width: 16.666666% !important;
    }
    table[class="body"] .column td.two {
        width: 16.666666% !important;
    }
    table[class="body"] .columns td.three {
        width: 25% !important;
    }
    table[class="body"] .column td.three {
        width: 25% !important;
    }
    table[class="body"] .columns td.four {
        width: 33.333333% !important;
    }
    table[class="body"] .column td.four {
        width: 33.333333% !important;
    }
    table[class="body"] .columns td.five {
        width: 41.666666% !important;
    }
    table[class="body"] .column td.five {
        width: 41.666666% !important;
    }
    table[class="body"] .columns td.six {
        width: 50% !important;
    }
    table[class="body"] .column td.six {
        width: 50% !important;
    }
    table[class="body"] .columns td.seven {
        width: 58.333333% !important;
    }
    table[class="body"] .column td.seven {
        width: 58.333333% !important;
    }
    table[class="body"] .columns td.eight {
        width: 66.666666% !important;
    }
    table[class="body"] .column td.eight {
        width: 66.666666% !important;
    }
    table[class="body"] .columns td.nine {
        width: 75% !important;
    }
    table[class="body"] .column td.nine {
        width: 75% !important;
    }
    table[class="body"] .columns td.ten {
        width: 83.333333% !important;
    }
    table[class="body"] .column td.ten {
        width: 83.333333% !important;
    }
    table[class="body"] .columns td.eleven {
        width: 91.666666% !important;
    }
    table[class="body"] .column td.eleven {
        width: 91.666666% !important;
    }
    table[class="body"] .columns td.twelve {
        width: 100% !important;
    }
    table[class="body"] .column td.twelve {
        width: 100% !important;
    }
    table[class="body"] td.offset-by-one {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-two {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-three {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-four {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-five {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-six {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-seven {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-eight {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-nine {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-ten {
        padding-left: 0 !important;
    }
    table[class="body"] td.offset-by-eleven {
        padding-left: 0 !important;
    }
    table[class="body"] table.columns td.expander {
        width: 1px !important;
    }
    table[class="body"] .right-text-pad {
        padding-left: 10px !important;
    }
    table[class="body"] .text-pad-right {
        padding-left: 10px !important;
    }
    table[class="body"] .left-text-pad {
        padding-right: 10px !important;
    }
    table[class="body"] .text-pad-left {
        padding-right: 10px !important;
    }
    table[class="body"] .hide-for-small {
        display: none !important;
    }
    table[class="body"] .show-for-desktop {
        display: none !important;
    }
    table[class="body"] .show-for-small {
        display: inherit !important;
    }
    table[class="body"] .hide-for-desktop {
        display: inherit !important;
    }
    table[class="body"] .right-text-pad {
        padding-left: 10px !important;
    }
    table[class="body"] .left-text-pad {
        padding-right: 10px !important;
    }
}
</style>
<table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="center" align="center" valign="top" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;">
            <center style="width: 100%; min-width: 580px;">

                <table class="row header" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; background: #999999; padding: 0px;" bgcolor="#999999"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="center" align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #0662a1; margin: 0; padding: 0;" bgcolor="#0662a1" valign="top">
                            <center style="width: 100%; min-width: 580px;">

                                <table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">

                                            <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="six sub-columns" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; min-width: 0px; width: 50%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 10px 10px 0px;" align="left" valign="top">
                                                        <a href="https://www.class-central.com" style="color: #2ba6cb; text-decoration: none;">
                                                            <img src="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/cc-logo.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block; border: none;" align="left" /></a>
                                                    </td>
                                                    <td class="six sub-columns last" style="text-align: right; vertical-align: middle; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; min-width: 0px; width: 50%; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="right" valign="middle">
                                                        <span class="template-label" style="color: #ffffff; font-weight: bold; font-size: 11px;">MOOC Directory and Reviews</span>
                                                    </td>
                                                    <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                                </tr></table></td>
                                    </tr></table></center>
                        </td>
                    </tr></table><table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top">

                            <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">

                                        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">
                                                    <h3 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 32px; margin: 0; padding: 0;" align="left">77 CS/Programming courses that you can start this month</h3>
                                                    <p class="lead" style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 21px; font-size: 18px; margin: 0 0 10px; padding: 0;" align="left"></p>

                                                    <table class="row callout" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 20px;" align="left" valign="top">

                                                                <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="panel" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #ECF8FF; margin: 0; padding: 10px; border: 1px solid #b9e5ff;" align="left" bgcolor="#ECF8FF" valign="top">
                                                                            <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="left">MOOC Report: List of 132 free online courses starting in August 2014<a href="https://www.class-central.com/report/mooc-course-report-august-2014/" style="color: #2ba6cb; text-decoration: none;"> See the list »</a></p>
                                                                        </td>
                                                                        <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                                                    </tr></table></td>
                                                        </tr></table><h6 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 20px; margin: 0; padding: 0;" align="left">BEGINNER(18)</h6><br /><a href="https://www.class-central.com/mooc/1857/edx-lfs101x-introduction-to-linux" style="color: #2ba6cb; text-decoration: none;">LFS101x : Introduction to Linux</a><br /><i>Aug 1st | EdX</i><br /><a href="https://www.class-central.com/mooc/1727/coursera-usable-security" style="color: #2ba6cb; text-decoration: none;">Usable Security</a><br /><i>Aug 18th | Coursera</i><br /><a href="https://www.class-central.com/mooc/320/udacity-introduction-to-computer-science" style="color: #2ba6cb; text-decoration: none;">CS 101: Building a Search Engine</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/590/openhpi-introduction-to-internetworking-with-tcp-ip" style="color: #2ba6cb; text-decoration: none;">Introduction to Internetworking with TCP/IP</a><br /><i>6 weeks long | openHPI</i><br /><a href="https://www.class-central.com/mooc/553/openlearning-unsw-computing-1-the-art-of-programming" style="color: #2ba6cb; text-decoration: none;">UNSW Computing 1 - The Art of Programming</a><br /><i>12 weeks long | OpenLearning</i><br /><a href="https://www.class-central.com/mooc/1010/dco042-python-for-informatics" style="color: #2ba6cb; text-decoration: none;">DCO042 - Python For Informatics</a><br /><i>Others</i><br /><a href="https://www.class-central.com/mooc/640/program-arcade-games-learn-computer-science" style="color: #2ba6cb; text-decoration: none;">Program Arcade Games - Learn Computer Science</a><br /><i>Others</i><br /><a href="https://www.class-central.com/mooc/831/udacity-introduction-to-programming-in-java" style="color: #2ba6cb; text-decoration: none;">Introduction to Programming in Java</a><br /><i>10 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/904/open2study-user-experience-for-the-web" style="color: #2ba6cb; text-decoration: none;">User Experience for the Web</a><br /><i>Open2Study</i><br /><a href="https://www.class-central.com/mooc/1481/udacity-introduction-to-salesforce-app-development" style="color: #2ba6cb; text-decoration: none;">Introduction to Salesforce App Development</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/442/edx-cs50x-introduction-to-computer-science" style="color: #2ba6cb; text-decoration: none;">CS50x: Introduction to Computer Science</a><br /><i>EdX</i><br /><a href="https://www.class-central.com/mooc/1046/udacity-mobile-web-development" style="color: #2ba6cb; text-decoration: none;">Mobile Web Development</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/1580/stanford-openedx-db-introduction-to-databases" style="color: #2ba6cb; text-decoration: none;">DB: Introduction to Databases</a><br /><i>Stanford OpenEdx</i><br /><a href="https://www.class-central.com/mooc/1821/making-sense-of-data" style="color: #2ba6cb; text-decoration: none;">Making Sense of Data</a><br /><i>Others</i><br /><a href="https://www.class-central.com/mooc/1952/udacity-make-your-own-2048" style="color: #2ba6cb; text-decoration: none;">Make your own 2048</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/2013/udacity-programming-foundations-with-python-learn-object-oriented-programming" style="color: #2ba6cb; text-decoration: none;">Programming Foundations with Python: Learn Object-Oriented Programming</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/303/coursera-introduction-to-databases" style="color: #2ba6cb; text-decoration: none;">Introduction to Databases</a><br /><i>Coursera</i><br /><a href="https://www.class-central.com/mooc/375/coursera-computer-science-101" style="color: #2ba6cb; text-decoration: none;">Computer Science 101</a><br /><i>Coursera</i><br /><br /><h6 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 20px; margin: 0; padding: 0;" align="left">INTERMEDIATE(34)</h6><br /><a href="https://www.class-central.com/mooc/1717/coursera-statistical-inference" style="color: #2ba6cb; text-decoration: none;">Statistical Inference</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1718/coursera-regression-models" style="color: #2ba6cb; text-decoration: none;">Regression Models</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1719/coursera-practical-machine-learning" style="color: #2ba6cb; text-decoration: none;">Practical Machine Learning</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1720/coursera-developing-data-products" style="color: #2ba6cb; text-decoration: none;">Developing Data Products</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1712/coursera-the-data-scientist-s-toolbox" style="color: #2ba6cb; text-decoration: none;">The Data Scientist’s Toolbox</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1713/coursera-r-programming" style="color: #2ba6cb; text-decoration: none;">R Programming</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1714/coursera-getting-and-cleaning-data" style="color: #2ba6cb; text-decoration: none;">Getting and Cleaning Data</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1715/coursera-exploratory-data-analysis" style="color: #2ba6cb; text-decoration: none;">Exploratory Data Analysis</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1716/coursera-reproducible-research" style="color: #2ba6cb; text-decoration: none;">Reproducible Research</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1718/coursera-regression-models" style="color: #2ba6cb; text-decoration: none;">Regression Models</a><br /><i>Aug 4th | Coursera</i><br /><a href="https://www.class-central.com/mooc/2067/coursera-interactive-computer-graphics" style="color: #2ba6cb; text-decoration: none;">Interactive Computer Graphics</a><br /><i>Aug 5th | Coursera</i><br /><a href="https://www.class-central.com/mooc/599/mongodb-university-m101j-mongodb-for-java-developers" style="color: #2ba6cb; text-decoration: none;">M101J: MongoDB for Java Developers</a><br /><i>Aug 5th | MongoDB University</i><br /><a href="https://www.class-central.com/mooc/1816/coursera-web-application-architectures" style="color: #2ba6cb; text-decoration: none;">Web Application Architectures</a><br /><i>Aug 11th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1176/open2study-concepts-in-game-development" style="color: #2ba6cb; text-decoration: none;">Concepts in Game Development</a><br /><i>Aug 11th | 4 weeks long | Open2Study</i><br /><a href="https://www.class-central.com/mooc/1188/mongodb-university-m101js-mongodb-for-node-js-developers" style="color: #2ba6cb; text-decoration: none;">M101JS: MongoDB for Node.js Developers</a><br /><i>Aug 12th | MongoDB University</i><br /><a href="https://www.class-central.com/mooc/1053/coursera-introduction-to-computational-arts" style="color: #2ba6cb; text-decoration: none;">Introduction to Computational Arts</a><br /><i>Aug 25th | Coursera</i><br /><a href="https://www.class-central.com/mooc/1725/coursera-algorithmic-thinking" style="color: #2ba6cb; text-decoration: none;">Algorithmic Thinking</a><br /><i>Aug 25th | Coursera</i><br /><a href="https://www.class-central.com/mooc/594/coursera-building-an-information-risk-management-toolkit" style="color: #2ba6cb; text-decoration: none;">Building an Information Risk Management Toolkit</a><br /><i>Aug 26th | Coursera</i><br /><a href="https://www.class-central.com/mooc/650/coursera-designing-and-executing-information-security-strategies" style="color: #2ba6cb; text-decoration: none;">Designing and Executing Information Security Strategies</a><br /><i>Aug 26th | Coursera</i><br /><a href="https://www.class-central.com/mooc/417/coursera-information-security-and-risk-management-in-context" style="color: #2ba6cb; text-decoration: none;">Information Security and Risk Management in Context</a><br /><i>Aug 26th | Coursera</i><br /><a href="https://www.class-central.com/mooc/2214/coursera--medical-image-analysis" style="color: #2ba6cb; text-decoration: none;">医学图像处理技术 Medical Image Analysis</a><br /><i>Coursera</i><br /><a href="https://www.class-central.com/mooc/323/udacity-design-of-computer-programs" style="color: #2ba6cb; text-decoration: none;">CS212 - The Design of Computer Programs</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/324/udacity-web-development" style="color: #2ba6cb; text-decoration: none;">CS253 - Web Application Engineering - Building a Blog</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/325/udacity-programming-languages" style="color: #2ba6cb; text-decoration: none;">CS262 - Programming Languages - Building a Browser</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/364/udacity-algorithms" style="color: #2ba6cb; text-decoration: none;">CS215 - Algorithms - Crunching Social Networks</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/365/udacity-software-testing" style="color: #2ba6cb; text-decoration: none;">CS258 - Software Testing - How to Make Software Fail</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/457/udacity-software-debugging" style="color: #2ba6cb; text-decoration: none;">CS259 - Software Debugging - Automating The Boring Tasks</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/458/csci-1730-introduction-to-programming-languages" style="color: #2ba6cb; text-decoration: none;">CSCI 1730 - Introduction to Programming Languages</a><br /><i>Others</i><br /><a href="https://www.class-central.com/mooc/455/udacity-intro-to-theoretical-computer-science" style="color: #2ba6cb; text-decoration: none;">CS313 - Intro to Theoretical Computer Science - Dealing with Challenging Problems</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/592/udacity-introduction-to-artificial-intelligence" style="color: #2ba6cb; text-decoration: none;">CS271 - Introduction to Artificial Intelligence</a><br /><i>10 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/551/udacity-html5-game-development" style="color: #2ba6cb; text-decoration: none;">CS255 - HTML5 Game Development - Building High Performance Web Applications</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/366/learning-from-data-introductory-machine-learning-course" style="color: #2ba6cb; text-decoration: none;">Learning from Data (Introductory Machine Learning course)</a><br /><i>Others</i><br /><a href="https://www.class-central.com/mooc/795/coursesites-python-for-informatics-exploring-information" style="color: #2ba6cb; text-decoration: none;">Python for Informatics: Exploring Information</a><br /><i>CourseSites</i><br /><a href="https://www.class-central.com/mooc/1806/coursesites-applied-data-science-an-introduction" style="color: #2ba6cb; text-decoration: none;">Applied Data Science: An Introduction</a><br /><i>CourseSites</i><br /><a href="https://www.class-central.com/mooc/1470/udacity-introduction-to-hadoop-and-mapreduce" style="color: #2ba6cb; text-decoration: none;">Introduction to Hadoop and MapReduce</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/1948/big-data-applications-and-analytics" style="color: #2ba6cb; text-decoration: none;">Big Data applications and Analytics</a><br /><i>Others</i><br /><a href="https://www.class-central.com/mooc/1021/georgia-tech-online-master-of-science-in-computer-science-cs-8802-artificial-intelligence-for-robotics-programming-a-robotic-car" style="color: #2ba6cb; text-decoration: none;">CS 8802, Artificial Intelligence for Robotics: Programming a Robotic Car</a><br /><i>Georgia Tech Online Master of Science in Computer Science</i><br /><a href="https://www.class-central.com/mooc/1480/udacity-intro-to-data-science" style="color: #2ba6cb; text-decoration: none;">Intro to Data Science</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/1788/opencourseworld-how-to-create-a-windows-8-app" style="color: #2ba6cb; text-decoration: none;">How to create a Windows 8 App</a><br /><i>OpenCourseWorld</i><br /><a href="https://www.class-central.com/mooc/1479/udacity-data-wrangling-with-mongodb" style="color: #2ba6cb; text-decoration: none;">Data Wrangling with MongoDB</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/1478/udacity-exploratory-data-analysis" style="color: #2ba6cb; text-decoration: none;">Exploratory Data Analysis</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/2109/ada-overview" style="color: #2ba6cb; text-decoration: none;">Ada: Overview</a><br /><i>Others</i><br /><a href="https://www.class-central.com/mooc/2110/ada-basic-concepts" style="color: #2ba6cb; text-decoration: none;">Ada: Basic Concepts</a><br /><i>Others</i><br /><a href="https://www.class-central.com/mooc/2111/ada-programming-in-the-large" style="color: #2ba6cb; text-decoration: none;">Ada: Programming in the Large</a><br /><i>Others</i><br /><a href="https://www.class-central.com/mooc/2189/udacity-website-performance-optimization-the-critical-rendering-path" style="color: #2ba6cb; text-decoration: none;">Website Performance Optimization: The Critical Rendering Path</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/2212/udacity-ux-design-for-mobile-developers-learn-to-design-a-5-star-android-app" style="color: #2ba6cb; text-decoration: none;">UX Design for Mobile Developers:  Learn to Design a 5-star Android App</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/2215/udacity-developing-scalable-apps-with-google-app-engine" style="color: #2ba6cb; text-decoration: none;">Developing Scalable Apps with Google App Engine</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/2211/udacity-developing-android-apps-android-fundamentals" style="color: #2ba6cb; text-decoration: none;">Developing Android Apps:  Android Fundamentals</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/2335/udacity-software-development-life-cycles" style="color: #2ba6cb; text-decoration: none;">Software Development Life Cycles</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/2336/udacity-computer-networking-security-and-software-defined-networking" style="color: #2ba6cb; text-decoration: none;">Computer Networking:  Security and Software Defined Networking</a><br /><i>Udacity</i><br /><br /><h6 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 20px; margin: 0; padding: 0;" align="left">ADVANCED(9)</h6><br /><a href="https://www.class-central.com/mooc/319/udacity-artificial-intelligence-for-robotics" style="color: #2ba6cb; text-decoration: none;">CS 373: Programming a Robotic Car</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/326/udacity-cs387-applied-cryptography" style="color: #2ba6cb; text-decoration: none;">CS387 - Applied Cryptography</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/465/openhpi-in-memory-data-management" style="color: #2ba6cb; text-decoration: none;">In-Memory Data Management</a><br /><i>6 weeks long | openHPI</i><br /><a href="https://www.class-central.com/mooc/549/udacity-intro-to-parallel-programming" style="color: #2ba6cb; text-decoration: none;">CS344 - Introduction to Parallel Programming  - Using CUDA to Harness the Power of GPUs</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/552/udacity-interactive-3d-graphics" style="color: #2ba6cb; text-decoration: none;">CS291 - Interactive Rendering - Introduction to 3D Computer Graphics</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/550/udacity-functional-hardware-verification" style="color: #2ba6cb; text-decoration: none;">CS348 - Functional Hardware Verification - How to Verify Chips and Eliminate Bugs</a><br /><i>7 weeks long | Udacity</i><br /><a href="https://www.class-central.com/mooc/1847/udacity-machine-learning-1-supervised-learning" style="color: #2ba6cb; text-decoration: none;">Machine Learning 1—Supervised Learning</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/1848/udacity-machine-learning-2-unsupervised-learning" style="color: #2ba6cb; text-decoration: none;">Machine Learning 2—Unsupervised Learning</a><br /><i>Udacity</i><br /><a href="https://www.class-central.com/mooc/1849/udacity-machine-learning-3-reinforcement-learning" style="color: #2ba6cb; text-decoration: none;">Machine Learning 3—Reinforcement Learning</a><br /><i>Udacity</i><br /></td>
                                                <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                            </tr></table></td>
                                </tr></table><table class="row footer" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #ebebeb; margin: 0; padding: 10px 20px 0px 0px;" align="left" bgcolor="#ebebeb" valign="top">

                                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="left-text-pad" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px 10px;" align="left" valign="top">

                                                    <h5 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 24px; margin: 0; padding: 0 0 10px;" align="left">Connect With Us:</h5>

                                                    <table class="tiny-button facebook" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; overflow: hidden; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; display: block; width: auto !important; background: #3b5998; margin: 0; padding: 5px 0 4px; border: 1px solid #2d4473;" align="center" bgcolor="#3b5998" valign="top">
                                                                <a href="https://www.facebook.com/classcentral" style="color: #ffffff; text-decoration: none; font-weight: normal; font-family: Helvetica, Arial, sans-serif; font-size: 12px;">Facebook</a>
                                                            </td>
                                                        </tr></table><br /><table class="tiny-button twitter" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; overflow: hidden; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; display: block; width: auto !important; background: #00acee; margin: 0; padding: 5px 0 4px; border: 1px solid #0087bb;" align="center" bgcolor="#00acee" valign="top">
                                                                <a href="https://twitter.com/classcentral" style="color: #ffffff; text-decoration: none; font-weight: normal; font-family: Helvetica, Arial, sans-serif; font-size: 12px;">Twitter</a>
                                                            </td>
                                                        </tr></table><br /><table class="tiny-button google-plus" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; overflow: hidden; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; display: block; width: auto !important; background: #DB4A39; margin: 0; padding: 5px 0 4px; border: 1px solid #cc0000;" align="center" bgcolor="#DB4A39" valign="top">
                                                                <a href="https://plus.google.com/+ClassCentral" style="color: #ffffff; text-decoration: none; font-weight: normal; font-family: Helvetica, Arial, sans-serif; font-size: 12px;">Google +</a>
                                                            </td>
                                                        </tr></table></td>
                                                <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                            </tr></table></td>
                                    <td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #ebebeb; margin: 0; padding: 10px 0px 0px;" align="left" bgcolor="#ebebeb" valign="top">

                                        <table class="six columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 280px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="last right-text-pad" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" align="left" valign="top">

                                                </td>
                                                <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                            </tr></table></td>
                                </tr></table><table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper last" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;" align="left" valign="top">

                                        <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 580px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td align="center" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;" valign="top">
                                                    <center style="width: 100%; min-width: 580px;">
                                                        <p style="text-align: center; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;" align="center"><a href="%mailing_list_unsubscribe_url%" style="color: #2ba6cb; text-decoration: none;">Unsubscribe</a></p>
                                                    </center>
                                                </td>
                                                <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0;" align="left" valign="top"></td>
                                            </tr></table></td>
                                </tr></table><!-- container end below --></td>
                    </tr></table></center>
        </td>
    </tr></table></body>
</html>
