<html>
<head></head>
<body>


<h1>Beginner(9)</h1>
<a href="http://www.class-central.com/mooc/1481/udacity-introduction-to-salesforce-app-development">Introduction to Salesforce App Development</a></br>
<i>Udacity</i><br/>

<a href="http://www.class-central.com/mooc/303/coursera-introduction-to-databases">Introduction to Databases</a><br/>
<i>Coursera</i><br/>
<a href="http://www.class-central.com/mooc/375/coursera-computer-science-101">Computer Science 101</a><br/>
<i>Coursera</i><br/>

<a href="http://www.class-central.com/mooc/831/udacity-introduction-to-programming-in-java">Introduction to Programming in Java</a><br/>
<i>10 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/320/udacity-introduction-to-computer-science">CS 101: Building a Search Engine</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/590/openhpi-introduction-to-internetworking-with-tcp-ip">Introduction to Internetworking with TCP/IP</a><br/>
<i>6 weeks long | openHPI</i><br/>

<a href="http://www.class-central.com/mooc/1010/dco042-python-for-informatics">DCO042 - Python For Informatics</a><br/>
<i>Others</i><br/>

<a href="http://www.class-central.com/mooc/640/program-arcade-games-learn-computer-science">Program Arcade Games - Learn Computer Science</a><br/>
<i>Others</i><br/>

<a href="http://www.class-central.com/mooc/904/open2study-user-experience-for-the-web">User Experience for the Web</a><br/>
<i>Open2Study</i><br/>

<h1>Intermediate(19)</h1>
<a href="http://www.class-central.com/mooc/429/coursera-creative-serious-and-playful-science-of-android-apps">Creative, Serious and Playful Science of Android Apps</a><br/>
<i>Dec 2nd | 5 weeks long | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/594/coursera-building-an-information-risk-management-toolkit">Building an Information Risk Management Toolkit</a><br/>
<i>Dec 11th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/650/coursera-designing-and-executing-information-security-strategies">Designing and Executing Information Security Strategies</a><br/>
<i>Dec 11th | Coursera</i><br/>

<a href="http://www.class-central.com/mooc/1470/udacity-introduction-to-hadoop-and-mapreduce">Introduction to Hadoop and MapReduce</a><br/>
<i>Udacity</i><br/>

<a href="http://www.class-central.com/mooc/366/learning-from-data-introductory-machine-learning-course">Learning from Data (Introductory Machine Learning course)</a><br/>
<i>Others</i><br/>

<a href="http://www.class-central.com/mooc/328/coursera-compilers">Compilers</a><br/>
<i>Coursera</i><br/>

<a href="http://www.class-central.com/mooc/551/udacity-html5-game-development">CS255 - HTML5 Game Development - Building High Performance Web Applications</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/324/udacity-web-development">CS253 - Web Application Engineering - Building a Blog</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/323/udacity-design-of-computer-programs">CS212 - The Design of Computer Programs</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/325/udacity-programming-languages">CS262 - Programming Languages - Building a Browser</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/326/udacity-cs387-applied-cryptography">CS387 - Applied Cryptography</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/364/udacity-algorithms">CS215 - Algorithms - Crunching Social Networks</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/365/udacity-software-testing">CS258 - Software Testing - How to Make Software Fail</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/457/udacity-software-debugging">CS259 - Software Debugging - Automating The Boring Tasks</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/455/udacity-intro-to-theoretical-computer-science">CS313 - Intro to Theoretical Computer Science - Dealing with Challenging Problems</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/592/udacity-introduction-to-artificial-intelligence">CS271 - Introduction to Artificial Intelligence</a><br/>
<i>10 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/552/udacity-interactive-3d-graphics">CS291 - Interactive Rendering - Introduction to 3D Computer Graphics</a><br/>
<i>7 weeks long | Udacity</i><br/>
<h1>Advanced (4)</h1>
<a href="http://www.class-central.com/mooc/319/udacity-artificial-intelligence-for-robotics">CS 373: Programming a Robotic Car</a><br/>
<i>7 weeks long | Udacity</i><br/>

<a href="http://www.class-central.com/mooc/465/openhpi-in-memory-data-management">In-Memory Data Management</a><br/>
<i>6 weeks long | openHPI</i><br/>
<a href="http://www.class-central.com/mooc/549/udacity-intro-to-parallel-programming">CS344 - Introduction to Parallel Programming - Using CUDA to Harness the Power of GPUs</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href="http://www.class-central.com/mooc/550/udacity-functional-hardware-verification">CS348 - Functional Hardware Verification - How to Verify Chips and Eliminate Bugs</a><br/>
<i>7 weeks long | Udacity</i><br/>

<br/>
<br/>
<br/>
<em><a href="%mailing_list_unsubscribe_url%" target="_blank">Unsubscribe</a><br/></em>

</body>
</html>