<html>
<head></head>
<body>

<h1>List of 52 CS/Programming courses that you can start this month</h1>

Entire list of courses starting in February: <a href="http://www.blog.class-central.com/mooc-course-report-february-2014/">MOOC Report: List of 165 free online courses starting in February 2014</a>


<h2>BEGINNER(14)</h2>
<a href='https://www.class-central.com/mooc/335/coursera-internet-history-technology-and-security'>Internet History, Technology, and Security</a><br/>
<i>Feb 3rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1341/edx-introduction-to-computer-science-and-programming-using-python'>6.00x: Introduction to Computer Science and Programming</a><br/>
<i>Feb 19th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/441/coursera-introduction-a-la-programmation-orientee-objet-en-java'>Introduction à la programmation orientée objet (en Java)</a><br/>
<i>Feb 24th | 7 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/320/udacity-introduction-to-computer-science'>CS 101: Building a Search Engine</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/590/openhpi-introduction-to-internetworking-with-tcp-ip'>Introduction to Internetworking with TCP/IP</a><br/>
<i>6 weeks long | openHPI</i><br/>
<a href='https://www.class-central.com/mooc/1010/dco042-python-for-informatics'>DCO042 - Python For Informatics</a><br/>
<i>Others</i><br/>
<a href='https://www.class-central.com/mooc/640/program-arcade-games-learn-computer-science'>Program Arcade Games - Learn Computer Science</a><br/>
<i>Others</i><br/>
<a href='https://www.class-central.com/mooc/831/udacity-introduction-to-programming-in-java'>Introduction to Programming in Java</a><br/>
<i>10 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/904/open2study-user-experience-for-the-web'>User Experience for the Web</a><br/>
<i>Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1481/udacity-introduction-to-salesforce-app-development'>Introduction to Salesforce App Development</a><br/>
<i>Udacity</i><br/>
<a href='https://www.class-central.com/mooc/442/edx-cs50x-introduction-to-computer-science'>CS50x: Introduction to Computer Science</a><br/>
<i>EdX</i><br/>
<a href='https://www.class-central.com/mooc/1046/udacity-mobile-web-development'>Mobile Web Development</a><br/>
<i>Udacity</i><br/>
<a href='https://www.class-central.com/mooc/303/coursera-introduction-to-databases'>Introduction to Databases</a><br/>
<i>Coursera</i><br/>
<a href='https://www.class-central.com/mooc/375/coursera-computer-science-101'>Computer Science 101</a><br/>
<i>Coursera</i><br/>

<h2>INTERMEDIATE(32)</h2>
<a href='https://www.class-central.com/mooc/1299/coursera-statistical-mechanics-algorithms-and-computations'>Statistical Mechanics: Algorithms and Computations</a><br/>
<i>Feb 3rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1701/openhpi-parallel-programming-concepts'>Parallel Programming Concepts</a><br/>
<i>Feb 3rd | openHPI</i><br/>
<a href='https://www.class-central.com/mooc/1523/edx-building-mobile-experiences'>Building Mobile Experiences</a><br/>
<i>Feb 4th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1480/udacity-intro-to-data-science'>Intro to Data Science</a><br/>
<i>Feb 5th | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/921/coursera-analysis-of-algorithms'>Analysis of Algorithms</a><br/>
<i>Feb 7th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1487/edx-paradigms-of-computer-programming'>Paradigms of Computer Programming</a><br/>
<i>Feb 17th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/846/coursera-analyse-numerique-pour-ingenieurs'>Analyse Numérique pour Ingénieurs</a><br/>
<i>Feb 17th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1176/open2study-concepts-in-game-development'>Concepts in Game Development</a><br/>
<i>Feb 17th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1457/coursera-digital-systems-sistemas-digitales-de-las-puertas-logicas-al-procesador'>Digital Systems - Sistemas Digitales: De las puertas lógicas al procesador</a><br/>
<i>Feb 17th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1742/upv-x-android-introduccion-a-la-programacion'>Android: introducción a la programación</a><br/>
<i>Feb 18th | UPV [X]</i><br/>
<a href='https://www.class-central.com/mooc/1282/coursera-villes-africaines-une-introduction-a-la-planification-urbaine-african-cities-an-introduction-to-urban-planning'>Villes africaines: une introduction à la planification urbaine / African cities : an introduction to urban planning</a><br/>
<i>Feb 18th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/650/coursera-designing-and-executing-information-security-strategies'>Designing and Executing Information Security Strategies</a><br/>
<i>Feb 19th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/417/coursera-information-security-and-risk-management-in-context'>Information Security and Risk Management in Context</a><br/>
<i>Feb 19th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/594/coursera-building-an-information-risk-management-toolkit'>Building an Information Risk Management Toolkit</a><br/>
<i>Feb 19th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/475/mongodb-m102-mongodb-for-dbas'>M102: MongoDB for DBAs</a><br/>
<i>Feb 24th | MongoDB</i><br/>
<a href='https://www.class-central.com/mooc/849/coursera-introduction-a-la-programmation-orientee-objet-en-c'>Introduction à la programmation orientée objet (en C++)</a><br/>
<i>Feb 24th | 7 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1737/coursera--the-advanced-object-oriented-technology'>面向对象技术高级课程（The Advanced Object-Oriented Technology）</a><br/>
<i>Feb 24th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1738/coursera--practice-on-programming'>程序设计实习 / Practice on Programming</a><br/>
<i>Feb 24th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1646/edx-30240184x-data-structures'>30240184x: Data Structures</a><br/>
<i>Feb 25th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1479/udacity-data-wrangling-with-mongodb'>Data Wrangling with MongoDB</a><br/>
<i>Feb 26th | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/323/udacity-design-of-computer-programs'>CS212 - The Design of Computer Programs</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/324/udacity-web-development'>CS253 - Web Application Engineering - Building a Blog</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/325/udacity-programming-languages'>CS262 - Programming Languages - Building a Browser</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/364/udacity-algorithms'>CS215 - Algorithms - Crunching Social Networks</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/365/udacity-software-testing'>CS258 - Software Testing - How to Make Software Fail</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/457/udacity-software-debugging'>CS259 - Software Debugging - Automating The Boring Tasks</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/455/udacity-intro-to-theoretical-computer-science'>CS313 - Intro to Theoretical Computer Science - Dealing with Challenging Problems</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/592/udacity-introduction-to-artificial-intelligence'>CS271 - Introduction to Artificial Intelligence</a><br/>
<i>10 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/551/udacity-html5-game-development'>CS255 - HTML5 Game Development - Building High Performance Web Applications</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/366/learning-from-data-introductory-machine-learning-course'>Learning from Data (Introductory Machine Learning course)</a><br/>
<i>Others</i><br/>
<a href='https://www.class-central.com/mooc/1470/udacity-introduction-to-hadoop-and-mapreduce'>Introduction to Hadoop and MapReduce</a><br/>
<i>Udacity</i><br/>
<a href='https://www.class-central.com/mooc/328/coursera-compilers'>Compilers</a><br/>
<i>Coursera</i><br/>

<h2>ADVANCED(6)</h2>
<a href='https://www.class-central.com/mooc/319/udacity-artificial-intelligence-for-robotics'>CS 373: Programming a Robotic Car</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/326/udacity-cs387-applied-cryptography'>CS387 - Applied Cryptography</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/465/openhpi-in-memory-data-management'>In-Memory Data Management</a><br/>
<i>6 weeks long | openHPI</i><br/>
<a href='https://www.class-central.com/mooc/549/udacity-intro-to-parallel-programming'>CS344 - Introduction to Parallel Programming  - Using CUDA to Harness the Power of GPUs</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/552/udacity-interactive-3d-graphics'>CS291 - Interactive Rendering - Introduction to 3D Computer Graphics</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/550/udacity-functional-hardware-verification'>CS348 - Functional Hardware Verification - How to Verify Chips and Eliminate Bugs</a><br/>
<i>7 weeks long | Udacity</i><br/>

<br/>
<br/>
<br/>
<em><a href="%mailing_list_unsubscribe_url%" target="_blank">Unsubscribe</a><br/></em>

</body>
</html>