<html>
<head></head>
<body>

<h1>List of 49 CS/Programming courses that you can start this month</h1>

Entire list of courses starting in January: <a href="http://www.blog.class-central.com/mooc-course-report-january-2014/">MOOC Course Report: List of 257 free online courses starting in January 2014</a>

<h1>Beginner(15)</h1>
<a href='https://www.class-central.com/mooc/442/edx-cs50x-introduction-to-computer-science'>CS50x: Introduction to Computer Science</a><br/>
<a href='https://www.class-central.com/mooc/1586/janux-introduction-to-computer-programming'>Introduction to Computer Programming</a><br/>
<a href='https://www.class-central.com/mooc/1578/stanford-university-networking-introduction-to-computer-networking'>Networking: Introduction to Computer Networking</a><br/>
<a href='https://www.class-central.com/mooc/1325/canvas-net-introduction-to-cybersecurity'>Introduction to Cybersecurity</a><br/>
<a href='https://www.class-central.com/mooc/1046/udacity-mobile-web-development'>Mobile Web Development</a><br/>
<a href='https://www.class-central.com/mooc/1481/udacity-introduction-to-salesforce-app-development'>Introduction to Salesforce App Development</a><br/>
<a href='https://www.class-central.com/mooc/320/udacity-introduction-to-computer-science'>CS 101: Building a Search Engine</a><br/>
<a href='https://www.class-central.com/mooc/1010/dco042-python-for-informatics'>DCO042 - Python For Informatics</a><br/>
<a href='https://www.class-central.com/mooc/904/open2study-user-experience-for-the-web'>User Experience for the Web</a><br/>
<a href='https://www.class-central.com/mooc/831/udacity-introduction-to-programming-in-java'>Introduction to Programming in Java</a><br/>
<a href='https://www.class-central.com/mooc/1580/stanford-university-db-introduction-to-databases'>DB: Introduction to Databases</a><br/>
<a href='https://www.class-central.com/mooc/303/coursera-introduction-to-databases'>Introduction to Databases</a><br/>
<a href='https://www.class-central.com/mooc/375/coursera-computer-science-101'>Computer Science 101</a><br/>
<a href='https://www.class-central.com/mooc/640/program-arcade-games-learn-computer-science'>Program Arcade Games - Learn Computer Science</a><br/>
<a href='https://www.class-central.com/mooc/590/openhpi-introduction-to-internetworking-with-tcp-ip'>Introduction to Internetworking with TCP/IP</a><br/>

<h1>Intermediate(26)</h1>
<a href='https://www.class-central.com/mooc/824/coursera-computer-networks'>Computer Networks</a><br/>
<a href='https://www.class-central.com/mooc/599/mongodb-m101j-mongodb-for-java-developers'>M101J: MongoDB for Java Developers</a><br/>
<a href='https://www.class-central.com/mooc/616/coursera-cryptography-i'>Cryptography I</a><br/>
<a href='https://www.class-central.com/mooc/1176/open2study-concepts-in-game-development'>Concepts in Game Development</a><br/>
<a href='https://www.class-central.com/mooc/1470/udacity-introduction-to-hadoop-and-mapreduce'>Introduction to Hadoop and MapReduce</a><br/>
<a href='https://www.class-central.com/mooc/1188/mongodb-m101js-mongodb-for-node-js-developers'>M101JS: MongoDB for Node.js Developers</a><br/>
<a href='https://www.class-central.com/mooc/1585/janux-power-and-elegance-of-computational-thinking'>Power and elegance of computational thinking</a><br/>
<a href='https://www.class-central.com/mooc/1205/iversity-web-engineering-ii-entwicklung-mobiler-html5-apps'>Web-Engineering II: Entwicklung mobiler HTML5-Apps</a><br/>
<a href='https://www.class-central.com/mooc/462/coursera-image-and-video-processing-from-mars-to-hollywood-with-a-stop-at-the-hospital'>Image and video processing: From Mars to Hollywood with a stop at the hospital</a><br/>
<a href='https://www.class-central.com/mooc/1178/coursera-programming-mobile-applications-for-android-handheld-systems'>Programming Mobile Applications for Android Handheld Systems</a><br/>
<a href='https://www.class-central.com/mooc/339/coursera-algorithms-part-i'>Algorithms, Part I</a><br/>
<a href='https://www.class-central.com/mooc/1478/udacity-exploratory-data-analysis'>Exploratory Data Analysis</a><br/>
<a href='https://www.class-central.com/mooc/1479/udacity-data-wrangling-with-mongodb'>Data Wrangling with MongoDB</a><br/>
<a href='https://www.class-central.com/mooc/1480/udacity-intro-to-data-science'>Intro to Data Science</a><br/>
<a href='https://www.class-central.com/mooc/328/coursera-compilers'>Compilers</a><br/>
<a href='https://www.class-central.com/mooc/366/learning-from-data-introductory-machine-learning-course'>Learning from Data (Introductory Machine Learning course)</a><br/>
<a href='https://www.class-central.com/mooc/323/udacity-design-of-computer-programs'>CS212 - The Design of Computer Programs</a><br/>
<a href='https://www.class-central.com/mooc/324/udacity-web-development'>CS253 - Web Application Engineering - Building a Blog</a><br/>
<a href='https://www.class-central.com/mooc/325/udacity-programming-languages'>CS262 - Programming Languages - Building a Browser</a><br/>
<a href='https://www.class-central.com/mooc/364/udacity-algorithms'>CS215 - Algorithms - Crunching Social Networks</a><br/>
<a href='https://www.class-central.com/mooc/365/udacity-software-testing'>CS258 - Software Testing - How to Make Software Fail</a><br/>
<a href='https://www.class-central.com/mooc/457/udacity-software-debugging'>CS259 - Software Debugging - Automating The Boring Tasks</a><br/>
<a href='https://www.class-central.com/mooc/455/udacity-intro-to-theoretical-computer-science'>CS313 - Intro to Theoretical Computer Science - Dealing with Challenging Problems</a><br/>
<a href='https://www.class-central.com/mooc/592/udacity-introduction-to-artificial-intelligence'>CS271 - Introduction to Artificial Intelligence</a><br/>

<h1>Advanced (8)</h1>
<a href='https://www.class-central.com/mooc/427/coursera-heterogeneous-parallel-programming'>Heterogeneous Parallel Programming</a><br/>
<a href='https://www.class-central.com/mooc/449/coursera-computational-neuroscience'>Computational Neuroscience</a><br/>
<a href='https://www.class-central.com/mooc/414/coursera-artificial-intelligence-planning'>Artificial Intelligence Planning</a><br/>
<a href='https://www.class-central.com/mooc/465/openhpi-in-memory-data-management'>In-Memory Data Management</a><br/>
<a href='https://www.class-central.com/mooc/319/udacity-artificial-intelligence-for-robotics'>CS 373: Programming a Robotic Car</a><br/>
<a href='https://www.class-central.com/mooc/326/udacity-cs387-applied-cryptography'>CS387 - Applied Cryptography</a><br/>
<a href='https://www.class-central.com/mooc/549/udacity-intro-to-parallel-programming'>CS344 - Introduction to Parallel Programming  - Using CUDA to Harness the Power of GPUs</a><br/>
<a href='https://www.class-central.com/mooc/550/udacity-functional-hardware-verification'>CS348 - Functional Hardware Verification - How to Verify Chips and Eliminate Bugs</a><br/>

<br/>
<br/>
<br/>
<em><a href="%mailing_list_unsubscribe_url%" target="_blank">Unsubscribe</a><br/></em>

</body>
</html>