<html>
<head></head>
<body>

<h1>List of 48 CS/Programming courses that you can start this month</h1>

Entire list of courses starting in March: <a href="http://www.blog.class-central.com/mooc-report-march-2014/">MOOC Report: List of 139 free online courses starting in March 2014</a>

<h2>BEGINNER(12)</h2>

<a href='https://www.class-central.com/mooc/408/coursera-an-introduction-to-interactive-programming-in-python'>An Introduction to Interactive Programming in Python</a><br/>
<i>Mar 24th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/320/udacity-introduction-to-computer-science'>CS 101: Building a Search Engine</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/590/openhpi-introduction-to-internetworking-with-tcp-ip'>Introduction to Internetworking with TCP/IP</a><br/>
<i>6 weeks long | openHPI</i><br/>
<a href='https://www.class-central.com/mooc/1010/dco042-python-for-informatics'>DCO042 - Python For Informatics</a><br/>
<i>Others</i><br/>
<a href='https://www.class-central.com/mooc/640/program-arcade-games-learn-computer-science'>Program Arcade Games - Learn Computer Science</a><br/>
<i>Others</i><br/>
<a href='https://www.class-central.com/mooc/831/udacity-introduction-to-programming-in-java'>Introduction to Programming in Java</a><br/>
<i>10 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/904/open2study-user-experience-for-the-web'>User Experience for the Web</a><br/>
<i>Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1481/udacity-introduction-to-salesforce-app-development'>Introduction to Salesforce App Development</a><br/>
<i>Udacity</i><br/>
<a href='https://www.class-central.com/mooc/442/edx-cs50x-introduction-to-computer-science'>CS50x: Introduction to Computer Science</a><br/>
<i>EdX</i><br/>
<a href='https://www.class-central.com/mooc/1046/udacity-mobile-web-development'>Mobile Web Development</a><br/>
<i>Udacity</i><br/>
<a href='https://www.class-central.com/mooc/303/coursera-introduction-to-databases'>Introduction to Databases</a><br/>
<i>Coursera</i><br/>
<a href='https://www.class-central.com/mooc/375/coursera-computer-science-101'>Computer Science 101</a><br/>
<i>Coursera</i><br/>

<h2>INTERMEDIATE(29)</h2>

<a href='https://www.class-central.com/mooc/835/coursera-machine-learning'>Machine Learning</a><br/>
<i>Mar 3rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/428/coursera-vlsi-cad-logic-to-layout'>VLSI CAD:  Logic to Layout</a><br/>
<i>Mar 3rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/359/coursera-networks-friends-money-and-bytes'>Networks: Friends, Money, and Bytes</a><br/>
<i>Mar 3rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1152/data-mining-with-weka'>Data Mining with Weka</a><br/>
<i>Mar 3rd | Others</i><br/>
<a href='https://www.class-central.com/mooc/487/coursera-discrete-optimization'>Discrete Optimization</a><br/>
<i>Mar 4th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1779/edx-6-00-2x-introduction-to-computational-thinking-and-data-science'>6.00.2x: Introduction to Computational Thinking and Data Science</a><br/>
<i>Mar 5th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1478/udacity-exploratory-data-analysis'>Exploratory Data Analysis</a><br/>
<i>Mar 12th | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/599/mongodb-m101j-mongodb-for-java-developers'>M101J: MongoDB for Java Developers</a><br/>
<i>Mar 17th | MongoDB</i><br/>
<a href='https://www.class-central.com/mooc/328/coursera-compilers'>Compilers</a><br/>
<i>Mar 17th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1816/coursera-web-application-architectures'>Web Application Architectures</a><br/>
<i>Mar 17th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1209/coursera-bioinformatics-introduction-and-methods--'>Bioinformatics: Introduction and Methods 生物信息学: 导论与方法</a><br/>
<i>Mar 17th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/526/coursera-linear-and-discrete-optimization'>Linear and Discrete Optimization</a><br/>
<i>Mar 17th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/340/coursera-algorithms-part-ii'>Algorithms, Part II</a><br/>
<i>Mar 21st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1188/mongodb-m101js-mongodb-for-node-js-developers'>M101JS: MongoDB for Node.js Developers</a><br/>
<i>Mar 24th | MongoDB</i><br/>
<a href='https://www.class-central.com/mooc/724/coursera-fundamentals-of-digital-image-and-video-processing'>Fundamentals of Digital Image and Video Processing</a><br/>
<i>Mar 31st | 12 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/764/coursera-high-performance-scientific-computing'>High Performance Scientific Computing</a><br/>
<i>Mar 31st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/588/coursera-general-game-playing'>General Game Playing</a><br/>
<i>Mar 31st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/328/coursera-compilers'>Compilers</a><br/>
<i>Coursera</i><br/>
<a href='https://www.class-central.com/mooc/323/udacity-design-of-computer-programs'>CS212 - The Design of Computer Programs</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/324/udacity-web-development'>CS253 - Web Application Engineering - Building a Blog</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/325/udacity-programming-languages'>CS262 - Programming Languages - Building a Browser</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/364/udacity-algorithms'>CS215 - Algorithms - Crunching Social Networks</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/365/udacity-software-testing'>CS258 - Software Testing - How to Make Software Fail</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/457/udacity-software-debugging'>CS259 - Software Debugging - Automating The Boring Tasks</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/455/udacity-intro-to-theoretical-computer-science'>CS313 - Intro to Theoretical Computer Science - Dealing with Challenging Problems</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/592/udacity-introduction-to-artificial-intelligence'>CS271 - Introduction to Artificial Intelligence</a><br/>
<i>10 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/551/udacity-html5-game-development'>CS255 - HTML5 Game Development - Building High Performance Web Applications</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/366/learning-from-data-introductory-machine-learning-course'>Learning from Data (Introductory Machine Learning course)</a><br/>
<i>Others</i><br/>
<a href='https://www.class-central.com/mooc/1470/udacity-introduction-to-hadoop-and-mapreduce'>Introduction to Hadoop and MapReduce</a><br/>
<i>Udacity</i><br/>

<h2>ADVANCED(7)</h2>

<a href='https://www.class-central.com/mooc/1847/udacity-machine-learning-1-supervised-learning'>Machine Learning 1—Supervised Learning</a><br/>
<i>Mar 17th | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/319/udacity-artificial-intelligence-for-robotics'>CS 373: Programming a Robotic Car</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/326/udacity-cs387-applied-cryptography'>CS387 - Applied Cryptography</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/465/openhpi-in-memory-data-management'>In-Memory Data Management</a><br/>
<i>6 weeks long | openHPI</i><br/>
<a href='https://www.class-central.com/mooc/549/udacity-intro-to-parallel-programming'>CS344 - Introduction to Parallel Programming  - Using CUDA to Harness the Power of GPUs</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/552/udacity-interactive-3d-graphics'>CS291 - Interactive Rendering - Introduction to 3D Computer Graphics</a><br/>
<i>7 weeks long | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/550/udacity-functional-hardware-verification'>CS348 - Functional Hardware Verification - How to Verify Chips and Eliminate Bugs</a><br/>
<i>7 weeks long | Udacity</i><br/>



<br/>
<br/>
<br/>
<em><a href="%mailing_list_unsubscribe_url%" target="_blank">Unsubscribe</a><br/></em>

</body>
</html>