<html>
<head></head>
<body>
<em>MOOC Course Report is a monthly column published by <a href="http://www.class-central.com/" target="_blank">Class Central</a> during the first week of each month. MOOC Course report aims to provide a comprehensive list of courses starting/available in the month of publication. To receive this list via email signup for our <a title="MOOC Report Newsletter" href="https://www.class-central.com/newsletters/subscribe/mooc-report" target="_blank">monthly newsletter</a>.</em>

Self paced courses are not mentioned below and can be found over at <a title="Self Paced MOOC courses" href="http://www.class-central.com/courses/selfpaced" target="_blank">Class Central</a>.

<br/><br/>
Share this list: <a class="twitter" href="https://twitter.com/share?url=http%3A%2F%2Fwww.blog.class-central.com%2Fmooc-course-report-december-2013/&amp;text=MOOC+Course+Report%3A+List+of+14+free+online+courses+starting+in+December%2C+2013&amp;via=classcentral" target="_blank">Twitter</a> <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.blog.class-central.com%2Fmooc-course-report-december-2013%2F" target="_blank">Facebook</a> <a class="gplus" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.blog.class-central.com%2Fmooc-course-report-december-2013/">Google+</a>

<h1><a href="http://www.class-central.com/stream/maths">Mathematics and Stats (2)</a></h1>
<a href="http://www.class-central.com/mooc/1398/coursera--the-journey-of-mathematics">数学之旅 The Journey of Mathematics</a><br/>
<i>Dec 1st | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1013/coursera-mathematical-methods-for-quantitative-finance">Mathematical Methods for Quantitative Finance</a><br/>
<i>Dec 11th | Coursera</i><br/>
<h1><a href="http://www.class-central.com/stream/health">Health &amp; Medicine (2)</a></h1>
<a href="http://www.class-central.com/mooc/1410/coursera--traditional-chinese-medicine-and-chinese-culture">中医药与中华传统文化 Traditional Chinese Medicine and Chinese Culture</a><br/>
<i>Dec 1st | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1252/futurelearn-improving-your-image-dental-photography-in-practice">Improving your image: dental photography in practice</a><br/>
<i>Dec 2nd | FutureLearn</i><br/>
<h1><a href="http://www.class-central.com/stream/cs">Computer Science (4)</a></h1>
<a href="http://www.class-central.com/mooc/429/coursera-creative-serious-and-playful-science-of-android-apps">Creative, Serious and Playful Science of Android Apps</a><br/>
<i>Dec 2nd | 5 weeks long | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/594/coursera-building-an-information-risk-management-toolkit">Building an Information Risk Management Toolkit</a><br/>
<i>Dec 11th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/650/coursera-designing-and-executing-information-security-strategies">Designing and Executing Information Security Strategies</a><br/>
<i>Dec 11th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/417/coursera-information-security-and-risk-management-in-context">Information Security and Risk Management in Context</a><br/>
<i>Dec 11th | Coursera</i><br/>
<h1><a href="http://www.class-central.com/stream/humanities">Humanities (2)</a></h1>
<a href="http://www.class-central.com/mooc/663/coursera-constitutional-struggles-in-the-muslim-world">Constitutional Struggles in the Muslim World</a><br/>
<i>Dec 2nd | 11 weeks long | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1467/rwaq-----">الحداثة في الفنون البصرية</a><br/>
<i>Dec 6th | Rwaq (رواق)</i><br/>
<h1><a href="http://www.class-central.com/stream/social-sciences">Social Sciences (1)</a></h1>
<a href="http://www.class-central.com/mooc/1276/iversity-public-privacy-cyber-security-human-rights">Public Privacy: Cyber Security &amp; Human Rights</a><br/>
<i>Dec 2nd | iversity</i><br/>
<h1><a href="http://www.class-central.com/stream/business">Business &amp; Management (1)</a></h1>
<a href="http://www.class-central.com/mooc/840/coursera-developing-innovative-ideas-for-new-companies-the-first-step-in-entrepreneurship">Developing Innovative Ideas for New Companies: The First Step in Entrepreneurship</a><br/>
<i>Dec 2nd | Coursera</i><br/>
<h1><a href="http://www.class-central.com/stream/science">Science (2)</a></h1>
<a href="http://www.class-central.com/mooc/382/coursera-introduction-to-astronomy">Introduction to Astronomy</a><br/>
<i>Dec 2nd | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1180/coursera--i-introduction-to-optics-i">基礎光學 I (Introduction to Optics I)</a><br/>
<i>Dec 25th | Coursera</i><br/>

    <br/>
    <br/>
    <br/>
    <em><a href="%mailing_list_unsubscribe_url%" target="_blank">Unsubscribe from MOOC Report</a></em>
</body>
</html>