<html>
<head></head>
<body>

<h2>165 MOOCs starting in Feb 2014</h2>
<a href="http://www.blog.class-central.com/mooc-course-report-february-2014/">165 MOOCs</a> from Coursera, edX, Open2Study, FutureLearn, and others are starting this month. The entire list is available on <a href="http://www.blog.class-central.com/mooc-course-report-february-2014/">Class Central's blog</a>. Self paced courses are not mentioned in the list and can be found over at <a title="Self Paced MOOC courses" href="http://www.class-central.com/courses/selfpaced" target="_blank">Class Central</a>.

<h3>New on Class Central</h3>
<b>Build your own catalogue</b><br/>
Build your own searchable catalogue of courses. Add courses to different lists i.e. "Interested", "Enrolled", "Completed","Audited" etc. Once added, you can find them in the <a href="https://www.class-central.com/user/courses">My Courses</a> section.<br/>
<b>Reviews and ratings</b><br/>
We just launched reviews and ratings! You can add ratings for classes you've taken and an optional text review. Help your fellow learners see if a course is right for them. <a href="https://www.class-central.com/search" title="MOOC Search" target="_blank">Search</a> for your classes and submit your reviews and ratings!

<h3>The 10 Most Popular MOOCs on Class Central starting in February</h3>

<a href='https://www.class-central.com/mooc/840/coursera-developing-innovative-ideas-for-new-companies-the-first-step-in-entrepreneurship'>Developing Innovative Ideas for New Companies: The First Step in Entrepreneurship</a><br/>
<i>Feb 3rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/345/coursera-introduction-to-finance'>Introduction to Finance</a><br/>
<i>Feb 3rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/893/open2study-big-data-for-better-performance'>Big Data for Better Performance</a><br/>
<i>Feb 17th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/370/coursera-introduction-to-mathematical-thinking'>Introduction to Mathematical Thinking</a><br/>
<i>Feb 3rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/470/novoed-technology-entrepreneurship-part-1'>Technology Entrepreneurship Part 1</a><br/>
<i>Feb 2nd | NovoED</i><br/>
<a href='https://www.class-central.com/mooc/1473/open2study-leadership-identity-influence-and-power'>Leadership: Identity, Influence and Power</a><br/>
<i>Feb 17th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/912/coursera-financial-markets'>Financial Markets</a><br/>
<i>Feb 17th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1480/udacity-intro-to-data-science'>Intro to Data Science</a><br/>
<i>Feb 5th | Udacity</i><br/>
<a href='https://www.class-central.com/mooc/614/edx-stat2-1x-introduction-to-statistics-descriptive-statistics'>Stat2.1x: Introduction to Statistics: Descriptive Statistics</a><br/>
<i>EdX</i><br/>
<a href='https://www.class-central.com/mooc/1496/edx-introduction-to-probability-the-science-of-uncertainty'>Introduction to Probability - The Science of Uncertainty</a><br/>
<i>Feb 4th | EdX</i><br/>


<h3>First love, then Finance: University of Michigan’s Gautam Kaul on educating 400K people around the world in Finance </h3>
Many MOOCs are popular, but only a handful have had enrollments that have exceeded 100,000 in a single class. One of them is Coursera's <strong><a href="https://www.class-central.com/mooc/345/coursera-introduction-to-finance" target="_blank">Intro to Finance</a></strong>, taught by Gautam Kaul, which had 130,000 sign-ups for the first class in mid-2012, and with three additional classes, has reached an estimated cumulative enrollment of 400K. This MOOC will be offered three times a year, with the  <a href="https://www.class-central.com/mooc/345/coursera-introduction-to-finance" target="_blank">next session starting Feb. 3, 2014</a>. Charlie sat down with Gautam (via Google Hangout), to discuss his thoughts on his course, finance, and MOOCs in general. <a href="http://www.blog.class-central.com/gautam-kaul-intro-to-finance-coursera/">Read the entire interview with Gautam on our blog </a>

<br/>
<br/>
<br/>
<em><a href="%mailing_list_unsubscribe_url%" target="_blank">Unsubscribe from MOOC Report</a></em>

</body>
</html>