<html>
<head></head>
<body>
<em>MOOC Course Report is a monthly column published by <a href="http://www.class-central.com/" target="_blank">Class Central</a> during the first week of each month. MOOC Course report aims to provide a comprehensive list of courses starting/available in the month of publication. To receive this list via email signup for our <a title="MOOC Report Newsletter" href="https://www.class-central.com/newsletters/subscribe/mooc-report" target="_blank">monthly newsletter</a>.</em>

Self paced courses are not mentioned below and can be found over at <a title="Self Paced MOOC courses" href="http://www.class-central.com/courses/selfpaced" target="_blank">Class Central</a>.
<br/><br/>
Share this list: <a class="twitter" href="https://twitter.com/share?url=http%3A%2F%2Fwww.blog.class-central.com%2Fmooc-course-report-january-2014/&amp;text=MOOC+Course+Report%3A+List+of+257+free+online+courses+starting+in+January%2C+2014&amp;via=classcentral" target="_blank">Twitter</a> <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.blog.class-central.com%2Fmooc-course-report-january-2014%2F" target="_blank">Facebook</a> <a class="gplus" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.blog.class-central.com%2Fmooc-course-report-january-2014/">Google+</a>

<br/>
Permalink for the entire list: <a href="http://www.blog.class-central.com/mooc-course-report-january-2014/">MOOC Course Report: List of 257 free online courses starting in January 2014</a>
<br/> <br/>

<h1><a href='https://www.class-central.com/subject/cs'>Computer Science (30)</a></h1>
<a href='https://www.class-central.com/mooc/442/edx-cs50x-introduction-to-computer-science'>CS50x: Introduction to Computer Science</a><br/>
<i>Jan 1st | EdX</i><br/>
<a href='https://www.class-central.com/mooc/427/coursera-heterogeneous-parallel-programming'>Heterogeneous Parallel Programming</a><br/>
<i>Jan 6th | 8 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/824/coursera-computer-networks'>Computer Networks</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/599/mongodb-m101j-mongodb-for-java-developers'>M101J: MongoDB for Java Developers</a><br/>
<i>Jan 6th | MongoDB</i><br/>
<a href='https://www.class-central.com/mooc/616/coursera-cryptography-i'>Cryptography I</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1580/stanford-university-db-introduction-to-databases'>DB: Introduction to Databases</a><br/>
<i>Jan 7th | Stanford University</i><br/>
<a href='https://www.class-central.com/mooc/449/coursera-computational-neuroscience'>Computational Neuroscience</a><br/>
<i>Jan 10th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1514/france-universite-numerique-introduction-aux-technologies-des-medias-interactifs-numeriques'>Introduction aux technologies des médias interactifs numériques</a><br/>
<i>Jan 13th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1176/open2study-concepts-in-game-development'>Concepts in Game Development</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/414/coursera-artificial-intelligence-planning'>Artificial Intelligence Planning</a><br/>
<i>Jan 13th | 6 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1188/mongodb-m101js-mongodb-for-node-js-developers'>M101JS: MongoDB for Node.js Developers</a><br/>
<i>Jan 13th | MongoDB</i><br/>
<a href='https://www.class-central.com/mooc/1585/janux-power-and-elegance-of-computational-thinking'>Power and elegance of computational thinking</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1586/janux-introduction-to-computer-programming'>Introduction to Computer Programming</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1205/iversity-web-engineering-ii-entwicklung-mobiler-html5-apps'>Web-Engineering II: Entwicklung mobiler HTML5-Apps</a><br/>
<i>Jan 17th | iversity</i><br/>
<a href='https://www.class-central.com/mooc/462/coursera-image-and-video-processing-from-mars-to-hollywood-with-a-stop-at-the-hospital'>Image and video processing: From Mars to Hollywood with a stop at the hospital</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1327/coursera-what-s-your-big-idea'>What’s Your Big Idea?</a><br/>
<i>Jan 21st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1178/coursera-programming-mobile-applications-for-android-handheld-systems'>Programming Mobile Applications for Android Handheld Systems</a><br/>
<i>Jan 21st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1578/stanford-university-networking-introduction-to-computer-networking'>Networking: Introduction to Computer Networking</a><br/>
<i>Jan 21st | Stanford University</i><br/>
<a href='https://www.class-central.com/mooc/1478/udacity-exploratory-data-analysis'>Exploratory Data Analysis</a><br/>
<i>Udacity</i><br/>
<a href='https://www.class-central.com/mooc/1479/udacity-data-wrangling-with-mongodb'>Data Wrangling with MongoDB</a><br/>
<i>Udacity</i><br/>
<a href='https://www.class-central.com/mooc/1480/udacity-intro-to-data-science'>Intro to Data Science</a><br/>
<i>Udacity</i><br/>
<a href='https://www.class-central.com/mooc/1507/france-universite-numerique-donnees-et-services-numeriques-dans-le-nuage-et-ailleurs'>Données et services numériques, dans le nuage et ailleurs</a><br/>
<i>Jan 27th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1325/canvas-net-introduction-to-cybersecurity'>Introduction to Cybersecurity</a><br/>
<i>Jan 27th | Canvas.net</i><br/>
<a href='https://www.class-central.com/mooc/627/information-visualization'>Information Visualization</a><br/>
<i>Jan 28th | Others</i><br/>
<a href='https://www.class-central.com/mooc/1016/georgia-tech-online-master-of-science-in-computer-science-cs-6210-advanced-operating-systems'>CS 6210, Advanced Operating Systems</a><br/>
<i>Georgia Tech Online Master of Science in Computer Science</i><br/>
<a href='https://www.class-central.com/mooc/1017/georgia-tech-online-master-of-science-in-computer-science-cs-6250-computer-networks'>CS 6250, Computer Networks</a><br/>
<i>Georgia Tech Online Master of Science in Computer Science</i><br/>
<a href='https://www.class-central.com/mooc/1018/georgia-tech-online-master-of-science-in-computer-science-cs-6290-high-performance-computer-architecture'>CS 6290, High Performance Computer Architecture</a><br/>
<i>Georgia Tech Online Master of Science in Computer Science</i><br/>
<a href='https://www.class-central.com/mooc/1019/georgia-tech-online-master-of-science-in-computer-science-cs-6300-software-development-process'>CS 6300, Software Development Process</a><br/>
<i>Georgia Tech Online Master of Science in Computer Science</i><br/>
<a href='https://www.class-central.com/mooc/1020/georgia-tech-online-master-of-science-in-computer-science-cs-7641-machine-learning'>CS 7641, Machine Learning</a><br/>
<i>Jan 30th | Georgia Tech Online Master of Science in Computer Science</i><br/>
<a href='https://www.class-central.com/mooc/339/coursera-algorithms-part-i'>Algorithms, Part I</a><br/>
<i>Jan 31st | Coursera</i><br/>
<h1><a href='https://www.class-central.com/subject/humanities'>Humanities (41)</a></h1>
<a href='https://www.class-central.com/mooc/1397/coursera--law-and-society'>法与社会   Law and Society</a><br/>
<i>Jan 1st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1617/edx-sw12-2x-china-part-2-the-creation-and-end-of-a-centralized-empire'>SW12.2x: China (Part 2): The Creation and End of a Centralized Empire</a><br/>
<i>Jan 2nd | EdX</i><br/>
<a href='https://www.class-central.com/mooc/943/edx-hds1544-1x-early-christianity-the-letters-of-paul'>HDS1544.1x: Early Christianity: The Letters of Paul</a><br/>
<i>Jan 6th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1258/futurelearn-sustainability-society-and-you'>Sustainability, society and you</a><br/>
<i>Jan 6th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/701/coursera-terrorism-and-counterterrorism-comparing-theory-and-practice'>Terrorism and Counterterrorism: Comparing Theory and Practice</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1190/miriada-x-espanol-salamanca-a2'>Español Salamanca A2</a><br/>
<i>Miríada X</i><br/>
<a href='https://www.class-central.com/mooc/1472/open2study-indigenous-studies-australia-and-aotearoa-new-zealand'>Indigenous Studies: Australia and Aotearoa New Zealand</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1474/open2study-midwifery'>Midwifery</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1516/france-universite-numerique-comprendre-le-transmedia-storytelling'>Comprendre le Transmedia Storytelling</a><br/>
<i>Jan 13th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1517/france-universite-numerique-dans-le-secret-des-rouages-de-l-etat-occidental-decryptage-du-droit-constitutionnel'>Dans le secret des rouages de l’Etat occidental: décryptage du droit constitutionnel</a><br/>
<i>Jan 13th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1518/france-universite-numerique-la-premiere-guerre-mondiale-expliquee-a-travers-ses-archives'>La Première Guerre mondiale expliquée à travers ses archives</a><br/>
<i>Jan 13th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1521/france-universite-numerique-philosophie-et-modes-de-vie-de-socrate-a-pierre-hadot-et-michel-foucault'>Philosophie et modes de vie ; de Socrate à Pierre Hadot et Michel Foucault</a><br/>
<i>Jan 13th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/725/coursera-introduction-to-environmental-law-and-policy'>Introduction to Environmental Law and Policy</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/383/coursera-think-again-how-to-reason-and-argue'>Think Again: How to Reason and Argue</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1551/canvas-net-general-semantics-an-approach-to-effective-language-behavior'>General Semantics: An Approach to Effective Language Behavior</a><br/>
<i>Jan 13th | Canvas.net</i><br/>
<a href='https://www.class-central.com/mooc/1005/open2study-understanding-the-origins-of-crime'>Understanding the Origins of Crime</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1246/futurelearn-climate-change-challenges-and-solutions'>Climate change: Challenges and solutions</a><br/>
<i>Jan 13th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/1592/janux-civil-rights-and-civil-liberties'>Civil Rights and Civil Liberties</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1442/futurelearn-shakespeare-s-hamlet-text-performance-and-culture'>Shakespeare's Hamlet: text, performance, and culture</a><br/>
<i>Jan 13th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/559/spanish-basics'>Spanish Basics</a><br/>
<i>Jan 13th | Others</i><br/>
<a href='https://www.class-central.com/mooc/503/coursera-modern-european-mysticism-and-psychological-thought'>Modern European Mysticism and Psychological Thought</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1607/mujeres-coraje-desafios-en-la-historia'>Mujeres coraje. Desafíos en la historia</a><br/>
<i>Jan 13th | Others</i><br/>
<a href='https://www.class-central.com/mooc/430/coursera-the-modern-world-global-history-since-1760'>The Modern World: Global History since 1760</a><br/>
<i>Jan 14th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/940/edx-ai2-2x-poetry-in-america-whitman'>AI2.2x: Poetry in America: Whitman</a><br/>
<i>Jan 15th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1561/edx-college-writing-2-2x-principles-of-written-english'>College Writing 2.2x: Principles of Written English</a><br/>
<i>Jan 16th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/947/edx-gse1x-unlocking-the-immunity-to-change-a-new-approach-to-personal-improvement'>GSE1x: Unlocking the Immunity to Change: A New Approach to Personal Improvement</a><br/>
<i>Jan 20th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1268/coursera-history-of-the-slave-south'>History of the Slave South</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/911/coursera-moralities-of-everyday-life'>Moralities of Everyday Life</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1269/coursera-how-to-change-the-world'>How to Change the World</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/703/coursera-soul-beliefs-causes-and-consequences'>Soul Beliefs: Causes and Consequences</a><br/>
<i>Jan 20th | 13 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/854/coursera-how-green-is-that-product-an-introduction-to-life-cycle-environmental-assessment'>Introduction to Life Cycle Assessment</a><br/>
<i>Jan 25th | 8 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/944/edx-hist229x-was-alexander-great-the-life-leadership-and-legacies-of-history-s-greatest-warrior'>HIST229x: Was Alexander Great? The Life, Leadership, and Legacies of History’s Greatest Warrior</a><br/>
<i>Jan 27th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/418/coursera-introduction-to-philosophy'>Introduction to Philosophy</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1506/france-universite-numerique-internet-les-autres-et-moi'>Internet, les autres et moi</a><br/>
<i>Jan 27th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1534/history-2020-u-s-history-from-1877'>History 2020: U.S. History from 1877</a><br/>
<i>Jan 27th | Others</i><br/>
<a href='https://www.class-central.com/mooc/990/canvas-net-stunt-writing-for-personal-growth'>Stunt Writing for Personal Growth</a><br/>
<i>Jan 27th | Canvas.net</i><br/>
<a href='https://www.class-central.com/mooc/864/coursera-student-thinking-at-the-core'>Student Thinking at the Core</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1245/futurelearn-causes-of-war'>Causes of war</a><br/>
<i>Jan 27th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/913/coursera-constitutional-law'>Constitutional Law</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/598/coursera-the-modern-and-the-postmodern'>The Modern and the Postmodern</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1278/coursera-understanding-terrorism-and-the-terrorist-threat'>Understanding Terrorism and the Terrorist Threat</a><br/>
<i>Jan 27th | Coursera</i><br/>
<h1><a href='https://www.class-central.com/subject/science'>Science (41)</a></h1>
<a href='https://www.class-central.com/mooc/1409/coursera--exploring-particle-world'>粒子世界探秘 Exploring Particle World</a><br/>
<i>Jan 1st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1149/coursera-useful-genetics-part-2'>Useful Genetics Part 2</a><br/>
<i>Jan 3rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/381/coursera-introduction-to-genetics-and-evolution'>Introduction to Genetics and Evolution</a><br/>
<i>Jan 3rd | 12 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1057/coursera-dino-101-dinosaur-paleobiology'>Dino 101: Dinosaur Paleobiology</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/536/coursera-global-sustainable-energy-past-present-and-future'>Global Sustainable Energy: Past, Present and Future</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/825/coursera-introductory-physics-i-with-laboratory'>Introductory Physics I with Laboratory</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1256/futurelearn-introduction-to-forensic-science'>Introduction to forensic science</a><br/>
<i>Jan 6th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/679/coursera-energy-the-environment-and-our-future'>Energy, the Environment, and Our Future</a><br/>
<i>Jan 6th | 8 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1329/coursera-climate-change-in-four-dimensions'>Climate Change in Four Dimensions</a><br/>
<i>Jan 7th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1476/open2study-water-in-a-thirsty-world'>Water in a Thirsty World</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/405/coursera-energy-101'>Energy 101</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/401/coursera-galaxies-and-cosmology'>Galaxies and Cosmology</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/651/coursera-computational-molecular-evolution'>Computational Molecular Evolution</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1415/open2study-agriculture-and-the-world-we-live-in'>Agriculture and the World We Live In</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/997/open2study-astronomy-discovering-the-universe'>Astronomy: Discovering the Universe</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1174/open2study-basic-physics'>Basic Physics</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1297/open2study-chemistry-building-blocks-of-the-world'>Chemistry – Building Blocks of the World</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1175/open2study-climate-change'>Climate Change</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/431/coursera-how-things-work-1'>How Things Work 1</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/838/coursera-analytical-chemistry-instrumental-analysis'>Analytical Chemistry / Instrumental Analysis</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1421/stanford-university-ep101-environmental-physiology-your-body-in-the-world'>EP101: Environmental Physiology: Your Body in the World</a><br/>
<i>Jan 13th | Stanford University</i><br/>
<a href='https://www.class-central.com/mooc/1582/janux-practical-importance-of-human-evolution'>Practical Importance of Human Evolution</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1583/janux-chemistry-of-beer'>Chemistry of Beer</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1588/introduction-to-water'>Introduction to Water</a><br/>
<i>Jan 13th | Others</i><br/>
<a href='https://www.class-central.com/mooc/1589/janux-hydraulic-fracturing-and-water-resources'>Hydraulic fracturing and water resources</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1590/janux-physical-geology-for-science-and-engineering-majors'>Physical Geology for Science and Engineering majors</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1591/janux-history-of-science-to-the-age-of-newton'>History of Science to the age of Newton</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/925/edx-phys102x-electricity-magnetism'>8.02x: Electricity and Magnetism</a><br/>
<i>Jan 13th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1180/coursera--i-introduction-to-optics-i'>基礎光學 I (Introduction to Optics I)</a><br/>
<i>Jan 15th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/434/coursera-introduction-to-sustainability'>Introduction to Sustainability</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1351/coursera-introduction-to-chemistry'>Introduction to Chemistry</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/415/coursera-astrobiology-and-the-search-for-extraterrestrial-life'>Astrobiology and the Search for Extraterrestrial Life</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1533/coursera-the-age-of-sustainable-development'>The Age of Sustainable Development</a><br/>
<i>Jan 21st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/656/coursera-statistical-molecular-thermodynamics'>Statistical Molecular Thermodynamics</a><br/>
<i>Jan 21st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/681/coursera-human-evolution-past-and-future'>Human Evolution: Past and Future</a><br/>
<i>Jan 21st | 10 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/709/coursera-analyzing-the-universe'>Analyzing the Universe</a><br/>
<i>Jan 21st | 6 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1328/coursera-turn-down-the-heat-why-a-4-c-warmer-world-must-be-avoided'>Turn Down the Heat: Why a 4°C Warmer World Must be Avoided</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/380/coursera-introductory-human-physiology'>Introductory Human Physiology</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1444/futurelearn-good-brain-bad-brain-basics'>Good brain, bad brain: basics</a><br/>
<i>Jan 27th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/1468/coursera-advanced-chemistry'>Advanced Chemistry</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1502/france-universite-numerique-optique-non-lineaire'>Optique non-linéaire</a><br/>
<i>Jan 31st | France Université Numerique</i><br/>
<h1><a href='https://www.class-central.com/subject/maths'>Mathematics and Stats (16)</a></h1>
<a href='https://www.class-central.com/mooc/1277/iversity-einfuhrung-in-die-wahrscheinlichkeitstheorie'>Einführung in die Wahrscheinlichkeitstheorie</a><br/>
<i>Jan 1st | iversity</i><br/>
<a href='https://www.class-central.com/mooc/736/coursera-unpredictable-randomness-chance-and-free-will'>Unpredictable? Randomness, Chance and Free Will</a><br/>
<i>Jan 6th | 8 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1182/complexity-explorer-introduction-to-dynamical-systems-and-chaos'>Introduction to Dynamical Systems and Chaos</a><br/>
<i>Jan 6th | Complexity Explorer</i><br/>
<a href='https://www.class-central.com/mooc/388/coursera-computing-for-data-analysis'>Computing for Data Analysis</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/595/coursera-computational-methods-for-data-analysis'>Computational Methods for Data Analysis</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1033/coursera-mathematical-biostatistics-boot-camp-2'>Mathematical Biostatistics Boot Camp 2</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1520/france-universite-numerique-fondamentaux-en-statistique'>Fondamentaux en statistique</a><br/>
<i>Jan 7th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/331/coursera-calculus-single-variable'>Calculus: Single Variable</a><br/>
<i>Jan 10th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1337/edx-linear-algebra-foundations-to-frontiers'>Linear Algebra - Foundations to Frontiers</a><br/>
<i>Jan 15th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/982/iversity-monte-carlo-methods-in-finance'>Monte Carlo Methods in Finance</a><br/>
<i>Jan 20th | iversity</i><br/>
<a href='https://www.class-central.com/mooc/691/coursera-initiation-a-la-theorie-des-distributions'>Initiation à la théorie des distributions</a><br/>
<i>Jan 20th | 9 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1335/edx-ut-9-01x-effective-thinking-through-mathematics'>UT.9.01x: Effective Thinking Through Mathematics</a><br/>
<i>Jan 21st | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1577/stanford-university-cvx101-convex-optimization'>CVX101: Convex Optimization</a><br/>
<i>Jan 21st | Stanford University</i><br/>
<a href='https://www.class-central.com/mooc/1579/stanford-university-statlearning-statistical-learning'>StatLearning: Statistical Learning</a><br/>
<i>Jan 21st | Stanford University</i><br/>
<a href='https://www.class-central.com/mooc/563/coursera-calculus-one'>Calculus One</a><br/>
<i>Jan 24th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1313/coursera-an-introduction-to-functional-analysis'>An Introduction to Functional Analysis</a><br/>
<i>Jan 27th | Coursera</i><br/>
<h1><a href='https://www.class-central.com/subject/health'>Health & Medicine (25)</a></h1>
<a href='https://www.class-central.com/mooc/403/coursera-drugs-and-the-brain'>Drugs and the Brain</a><br/>
<i>Jan 4th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/384/coursera-medical-neuroscience'>Medical Neuroscience</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1368/coursera-bioinformatic-methods-i'>Bioinformatic Methods I</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1519/france-universite-numerique-sras-une-revolution-de-la-gouvernance-mondiale-des-epidemies'>SRAS : une « révolution » de la gouvernance mondiale des épidémies ?</a><br/>
<i>Jan 7th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1537/coursera-how-viruses-cause-disease'>How Viruses Cause Disease</a><br/>
<i>Jan 9th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1515/france-universite-numerique-lutter-contre-les-maladies-emergentes-infectieuses'>Lutter contre les maladies émergentes infectieuses</a><br/>
<i>Jan 13th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/816/coursera-child-nutrition-and-cooking-2-0'>Child Nutrition and Cooking 2.0</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/896/open2study-food-nutrition-your-health'>Food, Nutrition & Your Health</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/898/open2study-introduction-to-nursing-in-healthcare'>Introduction to Nursing in Healthcare</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1417/open2study-the-human-body-as-a-machine'>The Human Body as a Machine</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1418/open2study-understanding-common-diseases'>Understanding Common Diseases</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/534/coursera-nutrition-health-and-lifestyle-issues-and-insights'>Nutrition, Health, and Lifestyle: Issues and Insights</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/420/coursera-critical-thinking-in-global-challenges'>Critical Thinking in Global Challenges</a><br/>
<i>Jan 20th | 5 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1254/futurelearn-inside-cancer'>Inside cancer</a><br/>
<i>Jan 20th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/1036/coursera-statistical-reasoning-for-public-health-estimation-inference-interpretation'>Statistical Reasoning for Public Health: Estimation, Inference, & Interpretation</a><br/>
<i>Jan 21st | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1485/edx-food-for-thought'>Food for Thought</a><br/>
<i>Jan 22nd | EdX</i><br/>
<a href='https://www.class-central.com/mooc/499/coursera-introduction-to-pharmacy'>Introduction to Pharmacy</a><br/>
<i>Jan 23rd | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/396/coursera-an-introduction-to-the-u-s-food-system-perspectives-from-public-health'>An Introduction to the U.S. Food System: Perspectives from Public Health</a><br/>
<i>Jan 27th | 6 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1504/france-universite-numerique-concepts-et-methodes-en-epidemiologie'>Concepts et méthodes en épidémiologie</a><br/>
<i>Jan 27th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/481/coursera-disaster-preparedness'>Disaster Preparedness</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/763/novoed-mobile-health-without-borders'>Mobile Health Without Borders</a><br/>
<i>Jan 27th | NovoED</i><br/>
<a href='https://www.class-central.com/mooc/419/coursera-equine-nutrition'>Equine Nutrition</a><br/>
<i>Jan 27th | 5 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1568/coursera-understanding-research-an-overview-for-health-professionals'>Understanding Research: An Overview for Health Professionals</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/733/coursera-epidemiology-the-basic-science-of-public-health'>Epidemiology: The Basic Science of Public Health</a><br/>
<i>Jan 28th | 6 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/837/coursera-health-for-all-through-primary-health-care'>Health for All Through Primary Health Care</a><br/>
<i>Jan 29th | Coursera</i><br/>
<h1><a href='https://www.class-central.com/subject/art-and-design'>Art & Design (13)</a></h1>
<a href='https://www.class-central.com/mooc/735/coursera-write-like-mozart-an-introduction-to-classical-music-composition'>Write Like Mozart: An Introduction to Classical Music Composition</a><br/>
<i>Jan 6th | 6 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1477/open2study-world-music'>World Music</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1560/open2study-the-art-of-photography'>The Art of Photography</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/910/coursera-roman-architecture'>Roman Architecture</a><br/>
<i>Jan 16th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/713/coursera-early-renaissance-architecture-in-italy-from-alberti-to-bramante'>Early Renaissance Architecture in Italy: from Alberti to Bramante</a><br/>
<i>Jan 20th | 8 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1336/edx-jazz-appreciation'>Jazz Appreciation</a><br/>
<i>Jan 21st | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1486/edx-introduction-to-the-music-business'>Introduction to the Music Business</a><br/>
<i>Jan 27th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/521/coursera-jazz-improvisation'>Jazz Improvisation</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/522/coursera-introduction-to-guitar'>Introduction to Guitar</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/523/coursera-songwriting'>Songwriting</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/525/coursera-introduction-to-music-production'>Introduction to Music Production</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1535/music-1030-introduction-to-music'>Music 1030: Introduction to Music</a><br/>
<i>Jan 27th | Others</i><br/>
<a href='https://www.class-central.com/mooc/1554/canvas-net-what-is-music-finding-your-song'>What is Music? Finding Your Song</a><br/>
<i>Jan 27th | Canvas.net</i><br/>
<h1><a href='https://www.class-central.com/subject/social-sciences'>Social Sciences (28)</a></h1>
<a href='https://www.class-central.com/mooc/744/coursera-social-and-economic-networks-models-and-analysis'>Social and Economic Networks:  Models and Analysis</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1050/coursera-the-power-of-macroeconomics-economic-principles-in-the-real-world'>The Power of Macroeconomics: Economic Principles in the Real World</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1054/coursera-the-power-of-microeconomics-economic-principles-in-the-real-world'>The Power of Microeconomics: Economic Principles in the Real World</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1280/novoed-decision-skills-power-tools-to-build-your-life'>Decision Skills: Power Tools to Build Your Life</a><br/>
<i>Jan 6th | NovoED</i><br/>
<a href='https://www.class-central.com/mooc/1483/edx-principles-of-economics-with-calculus'>Principles of Economics with Calculus</a><br/>
<i>Jan 7th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/638/coursera-introduction-to-psychology-as-a-science'>Introduction to Psychology as a Science</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/892/open2study-becoming-human-anthropology'>Becoming Human: Anthropology</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/897/open2study-foundations-of-psychology'>Foundations of Psychology</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1416/open2study-sociology'>Sociology</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1581/janux-native-people-of-oklahoma'>Native People of Oklahoma</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1593/janux-introduction-to-sociology'>Introduction to Sociology</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1584/janux-understanding-and-detecting-deception'>Understanding and Detecting Deception</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1469/coursera-game-theory-ii-advanced-applications'>Game Theory II: Advanced Applications</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1513/france-universite-numerique-ville-durable-etre-acteur-du-changement'>Ville durable : être acteur du changement</a><br/>
<i>Jan 14th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1198/coursera-introduction-to-communication-science'>Introduction to Communication Science</a><br/>
<i>Jan 15th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1509/france-universite-numerique-espace-mondial'>Espace Mondial</a><br/>
<i>Jan 20th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1510/france-universite-numerique-scientific-humanities'>Scientific Humanities</a><br/>
<i>Jan 20th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1511/france-universite-numerique-aux-origines-de-notre-systeme-juridique-histoire-du-droit-et-des-institutions'>Aux origines de notre système juridique : histoire du droit et des institutions</a><br/>
<i>Jan 20th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/436/coursera-microeconomics-principles'>Microeconomics Principles</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/436/coursera-microeconomics-principles'>Microeconomics Principles</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/436/coursera-microeconomics-principles'>Microeconomics Principles</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/636/coursera-games-without-chance-combinatorial-game-theory'>Games without Chance: Combinatorial Game Theory </a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/518/coursera-sports-and-society'>Sports and Society</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1505/france-universite-numerique-comprendre-l-exercice-de-la-justice-panorama-des-institutions-juridictionnelles'>Comprendre l’exercice de la Justice : panorama des institutions juridictionnelles</a><br/>
<i>Jan 27th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1370/coursera-latin-american-migration'>Latin American Migration</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1241/coursera-making-better-group-decisions-voting-judgement-aggregation-and-fair-division'>Making Better Group Decisions: Voting, Judgement Aggregation and Fair Division</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1247/futurelearn-corpus-linguistics-method-analysis-interpretation'>Corpus linguistics: method, analysis, interpretation</a><br/>
<i>Jan 27th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/1503/france-universite-numerique-la-bombe-demographique-est-elle-desamorcee'>La bombe démographique est-elle désamorcée ?</a><br/>
<i>Jan 28th | France Université Numerique</i><br/>
<h1><a href='https://www.class-central.com/subject/engineering'>Engineering (15)</a></h1>
<a href='https://www.class-central.com/mooc/1512/france-universite-numerique-la-fabrication-numerique'>La Fabrication Numérique</a><br/>
<i>Jan 6th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/1041/coursera-linear-circuits'>Linear Circuits</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/316/coursera-information-theory'>Information Theory</a><br/>
<i>Jan 6th | 15 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1311/coursera-discrete-inference-and-learning-in-artificial-vision'>Discrete Inference and Learning in Artificial Vision</a><br/>
<i>Jan 10th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1475/open2study-mobile-robotics'>Mobile Robotics</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/855/coursera-einfuhrung-in-computer-vision'>Computer Vision</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1643/open2study-mining-engineering'>Mining Engineering</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/569/canvas-net-exploring-engineering'>Exploring Engineering</a><br/>
<i>Jan 13th | Canvas.net</i><br/>
<a href='https://www.class-central.com/mooc/1248/futurelearn-critical-listening-for-studio-production'>Critical listening for studio production</a><br/>
<i>Jan 13th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/1237/coursera-'>工程圖學</a><br/>
<i>Jan 14th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/404/coursera-control-of-mobile-robots'>Control of Mobile Robots</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/410/coursera-fundamentals-of-electrical-engineering'>Fundamentals of Electrical Engineering</a><br/>
<i>Jan 20th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1484/edx-embedded-systems-shape-the-world'>Embedded Systems - Shape The World</a><br/>
<i>Jan 22nd | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1550/canvas-net-concepts-in-nanotechnology'>Concepts in Nanotechnology</a><br/>
<i>Jan 27th | Canvas.net</i><br/>
<a href='https://www.class-central.com/mooc/1189/coursera-fundamentals-of-electrical-engineering-laboratory'>Fundamentals of Electrical Engineering Laboratory</a><br/>
<i>Jan 27th | Coursera</i><br/>
<h1><a href='https://www.class-central.com/subject/education'>Education & Teaching (19)</a></h1>
<a href='https://www.class-central.com/mooc/1531/coursera-k-12-blended-online-learning'> K-12 Blended & Online Learning</a><br/>
<i>Jan 6th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1594/new-school-creation'>New School Creation</a><br/>
<i>Jan 12th | Others</i><br/>
<a href='https://www.class-central.com/mooc/998/open2study-becoming-a-confident-trainer'>Becoming a Confident Trainer</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1000/open2study-early-childhood-education'>Early Childhood Education</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1001/open2study-education-in-a-changing-world'>Education in a Changing World</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/903/open2study-teaching-adult-learners'>Teaching Adult Learners</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1587/janux-administration-of-adult-and-higher-education'>Administration of adult and higher education</a><br/>
<i>Jan 13th | Janux</i><br/>
<a href='https://www.class-central.com/mooc/1602/entornos-personales-de-aprendizaje-ple-para-el-desarrollo-profesional-docente'>Entornos Personales de Aprendizaje (PLE) para el desarrollo profesional docente</a><br/>
<i>Jan 13th | Others</i><br/>
<a href='https://www.class-central.com/mooc/1595/deeper-learning-101'>Deeper Learning 101</a><br/>
<i>Jan 20th | Others</i><br/>
<a href='https://www.class-central.com/mooc/1443/futurelearn-preparing-for-uni'>Preparing for Uni</a><br/>
<i>Jan 20th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/1612/digital-learning-transition'>Digital Learning Transition</a><br/>
<i>Jan 20th | Others</i><br/>
<a href='https://www.class-central.com/mooc/1634/coursesites-exploring-the-student-affairs-in-higher-education-profession'>Exploring the Student Affairs in Higher Education Profession</a><br/>
<i>Jan 21st | CourseSites</i><br/>
<a href='https://www.class-central.com/mooc/871/coursera-surviving-your-rookie-year-of-teaching-3-key-ideas-high-leverage-techniques'>Surviving Your Rookie Year of Teaching: 3 Key Ideas & High Leverage Techniques</a><br/>
<i>Jan 24th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1075/canvas-net-becoming-a-dynamic-educator'>Becoming a Dynamic Educator</a><br/>
<i>Jan 26th | Canvas.net</i><br/>
<a href='https://www.class-central.com/mooc/956/coursera-inquiry-science-learning-perspectives-and-practices-3-science-content-survey'>Inquiry Science Learning: Perspectives and Practices 3 - Science Content Survey</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1353/coursera-history-and-future-of-mostly-higher-education'>History and Future of (Mostly) Higher Education</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/874/coursera-foundations-of-teaching-for-learning-1-introduction'>Foundations of Teaching for Learning 1: Introduction</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1567/coursera-advanced-instructional-strategies-in-the-virtual-classroom'>Advanced Instructional Strategies in the Virtual Classroom</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/867/coursera-tinkering-fundamentals-integrating-making-activities-into-your-stem-classroom'>Tinkering Fundamentals: Integrating Making Activities into Your STEM Classroom</a><br/>
<i>Coursera</i><br/>
<h1><a href='https://www.class-central.com/subject/business'>Business & Management (29)</a></h1>
<a href='https://www.class-central.com/mooc/1261/futurelearn-the-secret-power-of-brands'>The secret power of brands</a><br/>
<i>Jan 6th | FutureLearn</i><br/>
<a href='https://www.class-central.com/mooc/1482/edx-introduction-to-public-speaking'>Introduction to Public Speaking</a><br/>
<i>Jan 7th | EdX</i><br/>
<a href='https://www.class-central.com/mooc/1473/open2study-leadership-identity-influence-and-power'>Leadership: Identity, Influence and Power</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/727/coursera-content-strategy-for-professionals-engaging-audiences-for-your-organization'>Content Strategy for Professionals: Engaging Audiences for Your Organization</a><br/>
<i>Jan 13th | 6 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1639/open2study-entrepreneurship-and-family-business'>Entrepreneurship and Family Business</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1552/canvas-net-intro-to-accounting'>Intro to Accounting</a><br/>
<i>Canvas.net</i><br/>
<a href='https://www.class-central.com/mooc/546/coursera-foundations-of-business-strategy'>Foundations of Business Strategy</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1363/coursera-subsistence-marketplaces'>Subsistence Marketplaces</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/893/open2study-big-data-for-better-performance'>Big Data for Better Performance</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/999/open2study-diagnosing-the-financial-health-of-a-business'>Diagnosing the Financial Health of a Business</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/894/open2study-financial-literacy'>Financial Literacy</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/895/open2study-financial-planning'>Financial Planning</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1177/open2study-innovation-for-powerful-outcomes'>Innovation for Powerful Outcomes</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1002/open2study-introduction-to-business-in-asia'>Introduction to Business in Asia</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1003/open2study-introduction-to-enterprise-architecture'>Introduction to Enterprise Architecture</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1004/open2study-online-advertising'>Online Advertising</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/900/open2study-principles-of-project-management'>Principles of Project Management</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/901/open2study-sports-and-recreation-management'>Sports and Recreation Management</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/902/open2study-strategic-management'>Strategic Management</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/905/open2study-writing-for-the-web'>Writing for the Web</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/840/coursera-developing-innovative-ideas-for-new-companies-the-first-step-in-entrepreneurship'>Developing Innovative Ideas for New Companies: The First Step in Entrepreneurship</a><br/>
<i>Jan 13th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/714/coursera-critical-perspectives-on-management'>Critical Perspectives on Management</a><br/>
<i>Jan 13th | 6 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1471/open2study-emergency-management'>Emergency Management</a><br/>
<i>Jan 13th | 4 weeks long | Open2Study</i><br/>
<a href='https://www.class-central.com/mooc/1559/novoed-storytelling-for-change'>Storytelling for Change</a><br/>
<i>Jan 15th | NovoED</i><br/>
<a href='https://www.class-central.com/mooc/1508/france-universite-numerique-elements-de-sante-au-travail-pour-les-ingenieurs-et-managers'>Eléments de santé au travail pour les ingénieurs et managers</a><br/>
<i>Jan 20th | France Université Numerique</i><br/>
<a href='https://www.class-central.com/mooc/433/coursera-grow-to-greatness-smart-growth-for-private-businesses-part-i'>Grow to Greatness: Smart Growth for Private Businesses, Part I</a><br/>
<i>Jan 20th | 5 weeks long | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1015/coursera-financial-engineering-and-risk-management-part-ii'>Financial Engineering and Risk Management Part II</a><br/>
<i>Jan 26th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/343/coursera-gamification'>Gamification</a><br/>
<i>Jan 27th | Coursera</i><br/>
<a href='https://www.class-central.com/mooc/1555/canvas-net-gerenciamento-de-financas-pessoais'>Gerenciamento de Finanças Pessoais</a><br/>
<i>Jan 27th | Canvas.net</i><br/>


<br/>
<br/>
<br/>
<em><a href="%mailing_list_unsubscribe_url%" target="_blank">Unsubscribe from MOOC Report</a></em>
</body>
</html>