<html>
<head
<body>
<em>MOOC Course Report is a monthly column published by <a href="https://www.class-central.com/" target="_blank">Class Central</a> during the first week of each month. MOOC Course report aims to provide a comprehensive list of courses starting/available in the month of publication.<a title="November MOOC Report Newsletter" href="http://www.blog.class-central.com/mooc-course-report-november-2013/" target="_blank">Permanent link for this list</a>.</em><br/><br/>

Self paced courses are not mentioned below and can be found over at <a title="Self Paced MOOC courses" href="http://www.class-central.com/courses/selfpaced" target="_blank">Class Central</a>.<br/><br/>

Share this list: <a class="twitter" href="https://twitter.com/share?url=http%3A%2F%2Fwww.blog.class-central.com%2Fmooc-course-report-november-2013/&amp;text=MOOC+Course+Report%3A+List+of+79+free+online+courses+starting+in+November%2C+2013&amp;via=classcentral" target="_blank">Twitter</a> <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.blog.class-central.com%2Fmooc-course-report-november-2013%2F" target="_blank">Facebook</a> <a class="gplus" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.blog.class-central.com%2Fmooc-course-report-november-2013/">Google+</a><br/>
<h1><a href="http://www.class-central.com/stream/science">Science (10)</a></h1>
<a href="http://www.class-central.com/mooc/512/coursera-useful-genetics-part-1">Useful Genetics Part 1</a><br/>
<i>Nov 1st | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1140/canvas-net-investigative-concepts-fbi-major-case-203-pizza-bomber">Investigative Concepts: FBI Major Case #203 "Pizza Bomber"</a><br/>
<i>Nov 4th | Canvas.net</i><br/>
<a href="http://www.class-central.com/mooc/413/coursera-nanotechnology-the-basics">Nanotechnology: The Basics</a><br/>
<i>Nov 11th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1430/miriada-x-como-hacer-un-tfg-trabajo-fin-de-grado-en-comunicacion">Cómo hacer un TFG (Trabajo Fin de Grado) en Comunicación</a><br/>
<i>Nov 11th | Miríada X</i><br/>
<a href="http://www.class-central.com/mooc/1415/open2study-agriculture-and-the-world-we-live-in">Agriculture and the World We Live In</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/997/open2study-astronomy-discovering-the-universe">Astronomy: Discovering the Universe</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1174/open2study-basic-physics">Basic Physics</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1297/open2study-chemistry-building-blocks-of-the-world">Chemistry – Building Blocks of the World</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1175/open2study-climate-change">Climate Change</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1255/futurelearn-introduction-to-ecosystems">Introduction to ecosystems</a><br/>
<i>Nov 18th | FutureLearn</i><br/>
<h1><a href="http://www.class-central.com/stream/cs">Computer Science (9)</a></h1>
<a href="http://www.class-central.com/mooc/340/coursera-algorithms-part-ii">Algorithms, Part II</a><br/>
<i>Nov 1st | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/745/coursera-bioinformatics-algorithms-part-1">Bioinformatics Algorithms (Part 1) </a><br/>
<i>Nov 4th | 6 weeks long | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/376/coursera-automata">Automata</a><br/>
<i>Nov 4th | 6 weeks long | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1186/coursera-principles-of-reactive-programming">Principles of Reactive Programming</a><br/>
<i>Nov 4th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1345/opensap-bi-4-platform-innovation-and-implementation">BI 4 Platform Innovation and Implementation</a><br/>
<i>Nov 11th | OpenSap</i><br/>
<a href="http://www.class-central.com/mooc/1432/miriada-x-desarrollo-de-aplicaciones-en-html5-y-para-dispositivos-moviles-firefox-o-s">Desarrollo de Aplicaciones en HTML5 y para Dispositivos Móviles Firefox O.S.</a><br/>
<i>Nov 11th | Miríada X</i><br/>
<a href="http://www.class-central.com/mooc/1176/open2study-concepts-in-game-development">Concepts in Game Development</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/600/10gen-m101p-mongodb-for-developers">M101P: MongoDB for Developers</a><br/>
<i>Nov 25th | 10gen</i><br/>
<a href="http://www.class-central.com/mooc/1326/coursera--machine-learning-foundations">機器學習基石 (Machine Learning Foundations)</a><br/>
<i>Nov 26th | Coursera</i><br/>
<h1><a href="http://www.class-central.com/stream/business">Business &amp; Management (23)</a></h1>
<a href="http://www.class-central.com/mooc/1426/miriada-x-agilidad-y-lean-gestionando-los-proyectos-y-negocios-del-s-xxi">Agilidad y Lean. Gestionando los proyectos y negocios del s. XXI</a><br/>
<i>Nov 1st | Miríada X</i><br/>
<a href="http://www.class-central.com/mooc/570/canvas-net-introduction-to-business-communication">Introduction to Business Communication</a><br/>
<i>Nov 4th | Canvas.net</i><br/>
<a href="http://www.class-central.com/mooc/1323/canvas-net-business-ethics-for-the-real-world">Business Ethics for the Real World</a><br/>
<i>Nov 4th | Canvas.net</i><br/>
<a href="http://www.class-central.com/mooc/1331/effectuation-l-entrepreneuriat-pour-tous">Effectuation : l’entrepreneuriat pour tous</a><br/>
<i>Nov 4th | Others</i><br/>
<a href="http://www.class-central.com/mooc/1239/coursera-the-power-of-markets">The Power of Markets</a><br/>
<i>Nov 4th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/649/coursera-design-thinking-for-business-innovation">Design Thinking for Business Innovation</a><br/>
<i>Nov 4th | 5 weeks long | Coursera
    <a href="https://www.class-central.com/mooc/1161/novoed-financing-new-ventures" target="_blank">Financing New Ventures</a><br/>
    <i>Nov 4th | NovoEd</i>
<a href="http://www.class-central.com/mooc/1439/miriada-x-curso-basico-en-economia">Curso Basico en Economía</a><br/>
<i>Nov 4th | Miríada X</i><br/>
<a href="http://www.class-central.com/mooc/893/open2study-big-data-for-better-performance">Big Data for Better Performance</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/999/open2study-diagnosing-the-financial-health-of-a-business">Diagnosing the Financial Health of a Business</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/894/open2study-financial-literacy">Financial Literacy</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/895/open2study-financial-planning">Financial Planning</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1177/open2study-innovation-for-powerful-outcomes">Innovation for Powerful Outcomes</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1002/open2study-introduction-to-business-in-asia">Introduction to Business in Asia</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1003/open2study-introduction-to-enterprise-architecture">Introduction to Enterprise Architecture</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1004/open2study-online-advertising">Online Advertising</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/900/open2study-principles-of-project-management">Principles of Project Management</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/901/open2study-sports-and-recreation-management">Sports and Recreation Management</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/902/open2study-strategic-management">Strategic Management</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/905/open2study-writing-for-the-web">Writing for the Web</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/951/novoed-technology-entrepreneurship-part-2">Technology Entrepreneurship Part 2</a><br/>
<i>Nov 18th | NovoED</i><br/>
<a href="http://www.class-central.com/mooc/1431/miriada-x-la-inversion-financiera-y-su-fiscalidad">La inversión financiera y su fiscalidad</a><br/>
<i>Nov 25th | Miríada X</i><br/>
<a href="http://www.class-central.com/mooc/1450/mm001-creer-un-plan-de-communication-efficace">MM001: Créer un plan de communication efficace</a><br/>
<i>Nov 25th | Others</i><br/>
<h1><a href="http://www.class-central.com/stream/maths">Mathematics and Statistics (4)</a></h1>
<a href="http://www.class-central.com/mooc/922/coursera-analytic-combinatorics">Analytic Combinatorics</a><br/>
<i>Nov 1st | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1440/miriada-x-aprende-analisis-estadistico-de-datos-con-r">Aprende Análisis Estadístico de Datos con R</a><br/>
<i>Nov 4th | Miríada X</i><br/>
<a href="http://www.class-central.com/mooc/596/coursera-mathematical-biostatistics-boot-camp-1">Mathematical Biostatistics Boot Camp 1</a><br/>
<i>Nov 18th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/698/coursera-introduction-a-la-theorie-et-au-calcul-des-probabilites">Introduction à la théorie et au calcul des probabilités </a><br/>
<i>Nov 25th | Coursera</i><br/>
<h1><a href="http://www.class-central.com/stream/education">Education &amp; Teaching (10)</a></h1>
<a href="http://www.class-central.com/mooc/955/coursera-inquiry-science-learning-perspectives-and-practices-2-techniques-for-success">Inquiry Science Learning: Perspectives and Practices 2 - Techniques for Success</a><br/>
<i>Nov 4th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1317/canvas-net-risk-management-in-higher-education-student-issues">Risk Management in Higher Education: Student Issues</a><br/>
<i>Nov 4th | Canvas.net</i><br/>
<a href="http://www.class-central.com/mooc/862/coursera-evolution-a-course-for-educators">Evolution: A Course for Educators</a><br/>
<i>Nov 4th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/421/coursera-e-learning-and-digital-cultures">E-learning and Digital Cultures</a><br/>
<i>Nov 4th | 5 weeks long | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/870/coursera-emerging-trends-technologies-in-the-virtual-k-12-classroom">Emerging Trends &amp; Technologies in the Virtual K-12 Classroom</a><br/>
<i>Nov 11th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/876/coursera-foundations-of-teaching-for-learning-3-learners-and-learning">Foundations of Teaching for Learning 3: Learners and Learning</a><br/>
<i>Nov 11th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/998/open2study-becoming-a-confident-trainer">Becoming a Confident Trainer</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1000/open2study-early-childhood-education">Early Childhood Education</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1001/open2study-education-in-a-changing-world">Education in a Changing World</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/903/open2study-teaching-adult-learners">Teaching Adult Learners</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/868/coursera-integrating-engineering-into-your-science-classroom">
</a><br/>
<h1><a href="http://www.class-central.com/stream/engineering">Engineering (3)</a></h1>
<a href="http://www.class-central.com/mooc/1148/coursera-applications-in-engineering-mechanics">Applications in Engineering Mechanics</a><br/>
<i>Nov 4th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1420/stanford-university-haptics-introduction-to-haptics">Haptics: Introduction to Haptics</a><br/>
<i>Nov 4th | Stanford University</i><br/>
<a href="http://www.class-central.com/mooc/1429/miriada-x-rom-5-1-calidad-de-aguas-portuarias">ROM 5.1: Calidad de Aguas Portuarias</a><br/>
<i>Nov 4th | Miríada X</i><br/>
<h1><a href="http://www.class-central.com/stream/health">Health &amp; Medicine (10)</a></h1>
<a href="http://www.class-central.com/mooc/597/coursera-genes-and-the-human-condition-from-behavior-to-biotechnology">Genes and the Human Condition (From Behavior to Biotechnology)</a><br/>
<i>Nov 4th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/480/coursera-clinical-terminology-for-international-students">Clinical Terminology for International Students</a><br/>
<i>Nov 4th | 6 weeks long | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/1034/coursera-major-depression-in-the-population-a-public-health-approach">Major Depression in the Population: A Public Health Approach</a><br/>
<i>Nov 11th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/923/edx-ph201x-health-and-society">PH201x: Health and Society</a><br/>
<i>Nov 15th | EdX</i><br/>
<a href="http://www.class-central.com/mooc/934/coursera-antimicrobial-stewardship-optimization-of-antibiotic-practices">Antimicrobial Stewardship: Optimization of Antibiotic Practices</a><br/>
<i>Nov 18th | Coursera</i><br/>
<a href="http://www.class-central.com/mooc/896/open2study-food-nutrition-your-health">Food, Nutrition &amp; Your Health</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/898/open2study-introduction-to-nursing-in-healthcare">Introduction to Nursing in Healthcare</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1417/open2study-the-human-body-as-a-machine">The Human Body as a Machine</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1418/open2study-understanding-common-diseases">Understanding Common Diseases</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/986/coursesites-so-you-want-to-work-in-the-pharmaceutical-industry">So you want to work in the pharmaceutical industry</a><br/>
<i>Nov 25th | CourseSites</i><br/>
<h1><a href="http://www.class-central.com/stream/humanities">Humanities (6)</a></h1>
<a href="http://www.class-central.com/mooc/1316/canvas-net-u-s-military-service-and-the-law">U.S. Military Service and the Law</a><br/>
<i>Nov 4th | Canvas.net</i><br/>
<a href="http://www.class-central.com/mooc/1333/edx-college-writing-2-1x-principles-of-written-english">College Writing 2.1x: Principles of Written English</a><br/>
<i>Nov 8th | EdX</i><br/>
<a href="http://www.class-central.com/mooc/1262/futurelearn-web-science-how-the-web-is-changing-the-world">Web science: how the web is changing the world</a><br/>
<i>Nov 11th | FutureLearn</i><br/>
<a href="http://www.class-central.com/mooc/1005/open2study-understanding-the-origins-of-crime">Understanding the Origins of Crime</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1250/futurelearn-england-in-the-time-of-king-richard-iii">England in the time of King Richard III</a><br/>
<i>Nov 25th | FutureLearn</i><br/>
<a href="http://www.class-central.com/mooc/1419/coursera--the-red-chamber-dream">紅樓夢(The Red Chamber Dream)</a><br/>
<i>Coursera</i><br/>
<h1><a href="http://www.class-central.com/stream/social-sciences">Social Sciences (4)</a></h1>
<a href="http://www.class-central.com/mooc/1260/futurelearn-the-mind-is-flat-the-shocking-shallowness-of-human-psychology">The mind is flat: the shocking shallowness of human psychology</a><br/>
<i>Nov 4th | FutureLearn</i><br/>
<a href="http://www.class-central.com/mooc/892/open2study-becoming-human-anthropology">Becoming Human: Anthropology</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/897/open2study-foundations-of-psychology">Foundations of Psychology</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>
<a href="http://www.class-central.com/mooc/1416/open2study-sociology">Sociology</a><br/>
<i>Nov 18th | 4 weeks long | Open2Study</i><br/>

<br/>
<br/>
<br/>
<em><a href="%mailing_list_unsubscribe_url%" target="_blank">Unsubscribe from MOOC Report</a></em>
</body>
</html>