{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
    <title>Trending free online courses/MOOCs | Class Central</title>
    <meta name="description" content="List of Trending free online courses/MOOCs aggregated by Class Central"/>

    <meta property="og:title" content="List of Trending free online courses/MOOCs | Class Central" />
    <meta property="og:url" content="{{ path('trending') }}" />
    <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
    <meta property="og:description" content="List of trending free online courses/MOOCs aggregated by Class Central." />
    <meta property="og:type" content="website" />

{% endblock %}

{%  block content %}


    <div class="intro-wrap">
        <div class="description-wrap">
            <div class="description">
                <h1 class='cc-page-header'>Trending Courses</h1>
            </div>
        </div>
    </div>

    <section class="courses">
        <h2 class="section-heading">
            <span>Courses</span>
        </h2>
        <div id="filter-wrap">
            <div class="mobile-filter-btn-wrap">
                <a href="#" class="mobile-filter-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-3 filter-column">
                    {% include 'ClassCentralSiteBundle:Helpers:filters.html.twig' with {'offSubjects':allSubjects,'offLanguages':allLanguages } %}
                </div>
                <div class="col-sm-8 col-lg-9 table-column">
                    <div class="tables-wrap">
                        {% include 'ClassCentralSiteBundle:Helpers:course.table.html.twig' with{'results':results,'tableId':'trending','allowSorting' : false, hideLoadMore: true} %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
