<h2>Quick Links</h2>

<ul>
    <li><a href="{{ path('course_new') }}">Create New Course</a></li>
    <li><a href="{{ path('offering_new') }}">Create New Offering</a></li>
    <li><a href="{{ path('instructor_new') }}">Create New Instructor</a></li>
    <li><a href="{{ path('institution_new') }}">Create New University/Institution</a></li>
</ul>