<div class="row">
    <div class="faq-wrap col-md-7">
        <h5 class="faq-heading">Frequently Asked Questions</h5>

        <p>
            <b>DISCLAIMER</b>: This FAQ represents our best effort to answer the most common questions new learners face. It may not be completely accurate in every circumstance.
        </p>

        <div class="faq-item">
            <div class="faq-question">
                <span>What are MOOCs?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                “MOOC” stands for Massive Open Online Course. Usually these online courses are taught by universities all around the world (e.g. Stanford, Princeton, UC San Diego, Yonsei University, Leiden University, and over <a href="https://www.class-central.com/universities">700 other such universities</a>). Other MOOCs are made by companies, like Google or Microsoft.
                <br/><br/>
                They are available for anyone with an internet connection. Some of the popular <a href="https://www.class-central.com/providers">MOOC providers</a>  include Coursera, edX, Udacity, and FutureLearn. They partner with universities, companies, and professors to provide MOOCs.
                <br/><br/>

                <i>NOTE: Class Central does not offer any MOOCs and is not involved in the running of any MOOCs. We are the #1 search engine and reviews site for MOOCs and free online courses.</i>


                {#
                <div class="question">Was this helpful to you?
                    <span class="yes-no">
                        <a href="#">YES</a> | <a href="#">NO</a>
                    </span>
                </div>
                #}
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>How do these MOOCs work?</span>
                <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                MOOCs are designed for an online audience, teaching primarily through short (5–20 min.) pre-recorded video lectures. You watch these videos on a weekly schedule when it is convenient for you. MOOCs also have student discussion forums, homework/assignments, and online quizzes or exams.
            </div>
        </div>


        <div class="faq-item">
            <div class="faq-question">
                <span>How much do they cost?</span>
                           <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                The course materials (e.g. video lectures, discussions, etc.) are free, but certain features like graded assignments, certificates, and mentorship are paid features. Course and/or certificate costs vary for each MOOC provider.
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question">
                <span>Who can signup for MOOCs?</span>
                           <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Anyone with an internet connection can sign up!
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>How do I enroll / register for a course?</span>
                <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                To register for a MOOC, scroll down the MOOC’s page (e.g. <a href="https://www.class-central.com/mooc/2860/coursera-a-life-of-happiness-and-fulfillment">one like this</a>) on Class Central and click on the “Go to Class” button on the right-hand side. This will take you to the MOOC provider’s website where you can register / enroll for the MOOC.
            </div>
        </div>



        <div class="faq-item">
            <div class="faq-question">
                <span>How do I receive/access my course?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                You can access the course materials on the course provider’s website once you have enrolled in the course.<br/><br/>
                This material is usually some combination of text to read, videos to watch, quizzes to complete, and assignments to work on. Some of the big course providers also have mobile apps, which can be used to access the course materials.
            </div>
        </div>



        <div class="faq-item">
            <div class="faq-question">
                <span>Will I receive a certificate for completing a MOOC?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Many courses do offer certificates, but they also require you to pay for the certificate. At the moment, no major MOOC provider offers a free certificate. <br/><br/>

                In additional to individual course certificates, some providers have created their own <a href="https://www.class-central.com/certificate">certificate programs</a>. These programs are something between a single course and a full degree, and they usually involve taking a sequence of courses. Examples of these would be Coursera’s “Specializations,” in which you complete multiple related courses and then a “capstone” project at the end; edX’s “XSeries”; or Udacity’s “Nanodegrees.”
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>Can I get financial aid?</span>
                <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                If you can’t afford a paid certificate, some course providers — like Coursera and edX — offer some sort of financial aid. Visit the MOOC provider’s website to find out if you qualify for financial aid.
                <br/><br/>

                <a href="https://learner.coursera.help/hc/en-us/articles/209819033-Apply-for-Financial-Aid">Coursera Financial Assistance FAQ</a>  <br/>
                <a href="https://support.edx.org/hc/en-us/sections/203392988-Financial-Assistance">EdX Financial Assistance FAQ</a>


            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>Will I receive any academic course credit for completing a class?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Most courses don’t provide any academic credit, but some do. Find more details here: <a href="https://www.class-central.com/report/moocs-for-credit/"> MOOCs for Credit</a>.
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question">
                <span>What types of courses are offered?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                There are MOOCs on any subject you can imagine. You can take a look at our <a href="https://www.class-central.com/subjects">Subjects page</a>  to browse courses based on your interests.
            </div>
        </div>


        <div class="faq-item">
            <div class="faq-question">
                <span>What is Class Central’s role in all of this?</span>
                        <span class="arrow-up">
                                <svg class="icon-arrow-up icon-cc-logo6" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo6"></use></svg>
                            </span>
                            <span class="arrow-down">
                                <svg class="icon-arrow-down icon-cc-logo7" viewBox="0 0 32 32"><use xlink:href="#icon-cc-logo7"></use></svg>
                            </span>
            </div>
            <div class="faq-answer">
                Class Central is a giant curated catalog of MOOCS spread across different online course providers. We focus on quality, and we manually categorize and tag every MOOC.
                <br/><br/>
                You can either <a href="https://www.class-central.com/search">search</a>  for a MOOC or <a href="https://www.class-central.com/subjects">browse courses</a> based on your interests.
                <br/><br/>
                We also have tens of thousands of reviews written by learners just like you. These reviews are there to help you figure out if a MOOC is right for you. Over six million learners have used Class Central to decide which online course to take.
            </div>
        </div>
    </div>
    <div class="col-md-3 pull-right faq-sidebar">
        {# uservoice widget #}
        {#<div data-uv-embed="contact"></div>#}
    </div>
</div>