<script id="rating-popup" type="text/x-handlebars-template">
    {% verbatim %}
        <form id="review-form" class="clearfix" method="post" action="#review-form">
            <div id="rating" style="margin: 0 auto" data-score = {{ rating }}></div>
        </form>
    {% endverbatim %}
</script>