<div class="modal fade" id="ask-for-shares-classcentral"  role="dialog" aria-labelledby="write-modal-title-here"  aria-hidden="true" style="display: none;" >
    <div class="modal-dialog" role="document">
        <div class="modal-base-wrap">


            <div class="modal-base-layout">


                <div id="modal-pane-2" class="modal-pane">

                    <div class="on-modal-header">
                        <div class="on-modal-footer__nav" style="min-height: 17px">
                            <a href="#" class="on-modal-navbutton on-modal-navbutton-right" id="ask-for-shares-classcentral-close"
                               onmousedown="ga('send','event','Go To Class - Share Class Central','Close');"
                               onclick="$('#ask-for-shares-classcentral').modal('hide');return true"
                                    >Close</a>
                        </div>
                        <h1 class="on-modal-title">Love to Learn?</h1>
                        <h2 class="on-modal-subtitle">Like our Facebook page to receive updates about the best online courses in the world</h2>
                    </div>

                    <div class="on-modal-body">

                        <div class="fb-like" data-href="https://www.facebook.com/classcentral" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>


                        {#
                        <div class="fb-post" data-href="https://www.facebook.com/classcentral/posts/1254382534602015" data-width="200" data-show-text="true"><blockquote cite="https://www.facebook.com/classcentral/posts/1254382534602015" class="fb-xfbml-parse-ignore"><p>The 50 best FREE online courses and MOOCs from top universities around the world.</p>Posted by <a href="https://www.facebook.com/classcentral/">Class Central</a> on&nbsp;<a href="https://www.facebook.com/classcentral/posts/1254382534602015">Tuesday, July 19, 2016</a></blockquote></div>
                       <div style="margin: 0 auto; width: 300px;min-width: 300px">
                           <a href=""
                              id="btn-fb-share-class-central"
                              onmousedown="ga('send','event','Go To Class - Share Class Central','Share Button Clicked','Facebook');$('#ask-for-shares-classcentral').modal('hide')">
                            <image src="/bundles/classcentralsite/slashpixel/images/facebook_big.png"></image>
                           </a>
                           <a
                                   href=https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.class-central.com&text=Love%20to%20learn%3F%20You%20can%20find%20thousands%20of%20FREE%20online%20courses%20from%20top%20universities%20and%20companies%20on%20@classcentral&"
                                   target="_blank"
                                   onmousedown="ga('send','event','Go To Class - Share Class Central','Share Button Clicked','Twitter');$('#ask-for-shares-classcentral').modal('hide')"
                            >
                            <image src="/bundles/classcentralsite/slashpixel/images/twitter_big.png"></image>
                           </a>
                       </div>
                       #}
                    </div>

                </div><!-- /.modal-pane -->

            </div>

        </div>
    </div>
</div>