<ul class="socialmedia nav nav-pills">
    <li><a href="https://plus.google.com/{{plusPageUrl}}" class="social1" title="Class Central Google+ page" target="_blank"></a></li>
    <li><a href="http://www.facebook.com/classcentral" class="social2" title="Class Central Facebook page" target="_blank"></a></li>
    <li><a href="https://twitter.com/#!/classcentral" class="social3" title="Class Central Twitter account" target="_blank"></a></li>
    <li><a href="https://www.facebook.com/feeds/page.php?id=305891199451158&format=rss20" class="social4" title="Class Central RSS feed powered by Facebook" target="_blank"></a></li>
</ul>