<div class="starRating starRating-em starRating-{{ ratingColour }} rating{{ formattedRating*10 }}">
    <div class="starRating_star">
        <svg class="starRating_starShape starRating_starShape-blank">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-full">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
        </svg>
    </div>
    <div class="starRating_star">
        <svg class="starRating_starShape starRating_starShape-blank">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-full">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
        </svg>
    </div>
    <div class="starRating_star">
        <svg class="starRating_starShape starRating_starShape-blank">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-full">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
        </svg>
    </div>
    <div class="starRating_star">
        <svg class="starRating_starShape starRating_starShape-blank">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-full">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
        </svg>
    </div>
    <div class="starRating_star">
        <svg class="starRating_starShape starRating_starShape-blank">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-full">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-full"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-left starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-left"></use>
        </svg>
        <svg class="starRating_starShape starRating_starShape-right starRating_starShape-half">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shape-star-half-right"></use>
        </svg>
    </div>
</div>