{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block headmeta %}
    <title>Subjects - Browse free online courses and MOOCs by Subjects | Class Central</title>
    <meta name="description"
          content="Browse MOOCs by Subjects"/>
    <meta property="og:title" content="Browse free online courses and MOOCs by Subjects" />
    <meta property="og:url" content="{{ baseurl }}{{ path('subjects') }}" />
    <meta property="og:image" content="https://www.class-central.com/bundles/classcentralsite/slashpixel/images/ccprofilepic.png">
    <meta property="og:site_name" content="Class Central"/>
    <meta property="og:description" content="Browse MOOCs by Subjects" />
    <meta property="og:type" content="website" />
    <meta property="fb:admins" content="{{ fb_admins }}" />

    <!-- Twitter card integration -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@classcentral">
    <meta name="twitter:title" content="Browse free online courses and MOOCs by subject">
    <meta name="twitter:description" content="Browse MOOCs by subject">
    <meta name="twitter:domain" content="www.class-central.com">
{% endblock %}

{% block content %}

    <div class="subjects">
        <div class="intro-wrap">
            <div class="description-wrap">
                <h1 class='cc-page-header'>Subjects</h1>
            </div>
        </div>
        {% include 'ClassCentralSiteBundle:Helpers:subjects.html.twig' with { 'subjects' : subjects } %}
    </div>



{% endblock %}
