{% extends 'ClassCentralSiteBundle::base.html.twig' %}

{% block content %}

<h1>Reviews by status</h1>

    <div class="col-sm-8 col-lg-9 course-bottom-wrap">
        <div class="col-sm-12 course-col">
            <div class="course-all-reviews" id="course-all-reviews">
                <div class="single-reviews-wrap">
                    {% for review in reviews %}
                        <a class="review-status-update" href="{{ path('reviews_status_update', {statusId: 2, reviewId: review.id}) }}">Approve</a>|<a class="review-status-update" href="{{ path('reviews_status_update', {statusId: 100, reviewId: review.id}) }}">Don't Show</a>
                        {% include 'ClassCentralSiteBundle:Review:single.html.twig' with{'review':review,'rating':5} %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}