<div class="modal fade" id="next-course-loading-screen-modal"  role="dialog" aria-labelledby="write-modal-title-here" aria-hidden="true" style="display: none;" data-backdrop="static">
    <div class="modal-dialog modal-dialog__large" role="document">
        <div class="modal-base-wrap">


            <div class="modal-base-layout">


                <div id="modal-pane-2" class="modal-pane">
                    <div class="on-modal-header">
                        <h1 class="on-modal-title">Generating Recommendations</h1>
                        <h2 class="on-modal-subtitle">We're building your recommendations...</h2>
                    </div>

                    <div class="on-modal-body">
                            <img src="bundles/classcentralsite/slashpixel/images/next-course-loading.gif" style="max-height: inherit;margin-left: auto;margin-right: auto; display: block"/>
                    </div>

                    <div class="on-modal-footer">
                        <div class="on-modal-footer__bar">
                            <div class="meter">
                                <span class="meter__bar" style="width: 0%"></span>
                            </div>
                        </div>
                        <div class="on-modal-footer__button">
                            <a href="#" class="on-modal-button" id="next-course-loading-screen__next">
                                <div class="on-modal-button__icon">
                                    <div class="u-scaling-svg">
                                        <svg class="u-scalingSvg__shape">
                                            <use xlink:href="#shape-arrow-right-thin" />
                                        </svg>
                                    </div>
                                </div>
                                <span id="next-course-loading-screen__next__text" style="color: #737A85">5..4..3..2..1</span>
                            </a>
                        </div>
                    </div>
                </div><!-- /.modal-pane -->

            </div>

        </div>
    </div>
</div>